[2014-09-22 13:46] volkyeth opened #3 "Not on pip"
pyorient 1.0.0 is yet to be uploaded on the Python Package Index

[2014-09-22 16:17] volkyeth opened #4 "Setup broken"
Missing **/src** folder, setup.py gives `<warning: no files found matching 'src/*'>`.
The resulting python module is missing the **/Common** and **/Messages** folders, giving `<ImportError: No module named Commons.OrientException>` when trying to import.

[2014-09-22 16:18] #3 closed, assigned to nobody

[2014-09-22 19:12] pollitux opened #5 "Support SSL"
You will have support for SSL Connection?

[2014-09-23 07:47] #4 closed, assigned to nobody

[2014-09-23 08:24] mogui opened #6 "Support for python 3"

[2014-09-23 20:59] ophirh opened #7 "Failing to install using pip"
Hi,

Trying to follow the instructions using pip install pyorient produces a partial egg (a lot of files are missing inside) and therefore, any attempt to use it fails.

[2014-09-24 14:43] ophirh opened #8 "Missing import in OrientDB.py"
There is a missing "import pyorient" in the OrientDB.py

This causes a query to fail with the message:

...
py2.7.egg/pyorient/OrientDB.py", line 98, in query
    .prepare(( pyorient.QUERY_SYNC, ) + args).send().fetch_response()
NameError: global name 'pyorient' is not defined

[2014-09-24 16:50] rangilboa opened #9 "socket.timeout: timed out - client.query("select count(*) from followed_by")"
The program is failing to run the query ()

[code]

result:

7868
Traceback (most recent call last):
  File "C:/Users/rang/PycharmProjects/ran/test1.py", line 13, in <module>
    client.query("select count(*) from followed_by")
  File "C:\Users\rang\PycharmProjects\ran\lib\site-packages\pyorient\OrientDB.py", line 99, in query
    .prepare(( pyorient.QUERY_SYNC, ) + args).send().fetch_response()

[2014-09-25 14:12] #9 closed, assigned to Ostico

[2014-09-28 18:34] #8 closed, assigned to Ostico

[2014-09-28 18:34] #7 closed, assigned to nobody

[2014-10-04 01:03] rangilboa opened #10 "Failed to run SQL batch: Cannot find a command executor"
Failed  to run batch as described in

[code]

pyorient.Commons.OrientException.PyOrientCommandException: Cannot find a command executor for the command request: sql.begin
let a = create vertex set script = true
let b = select from v limit 1
let e = create edge from $a to $b
commit retry 100
return $e - com.orientechnologies.orient.core.command.OCommandExecutorNotFoundException

[2014-10-04 15:12] rangilboa opened #11 "Failed to run record_create: self._cluster_id is a list not a string"
Failed to run

[code]

RecordCreateMessage.py (line 51)
        self._append( ( FIELD_SHORT, int(self._cluster_id) ) )  #self._cluster_id is a list not a string

[2014-10-04 15:34] rangilboa opened #12 "How record_create for Edge should look like?"
I tried and failed :

[code]

[2014-10-04 18:54] #11 closed, assigned to Ostico

[2014-10-05 14:32] pollitux opened #13 "Failed to execute the query select @rid, firstName from my_class"
result = cliento.query("select @rid, firstName from my_class")

[code]

**I tried the query in the studio and working properly**

[2014-10-06 14:52] #12 closed, assigned to nobody

[2014-10-07 21:55] sofiav23 opened #14 "installation on ubuntu"
how to install pyorient on ubuntu?

[2014-10-07 23:03] #14 closed, assigned to nobody

[2014-10-10 14:00] rangilboa opened #15 "Failed to run insert into command: 'version' is reserved by OrientRecord class"
Field to run

[code]

File "C:\Users\rang\PycharmProjects\ran\lib\site-packages\pyorient\Commons\OrientTypes.py", line 23, in _set_keys
    setattr( self, key, content[key] )
AttributeError: can't set attribute

[2014-10-12 14:59] #15 closed, assigned to Ostico

[2014-10-12 15:00] #10 closed, assigned to Ostico

[2014-10-12 15:01] #13 closed, assigned to Ostico

[2014-10-14 00:43] sofiav23 opened #16 "iterate records with pyorient"
if there is a possibility to iterate trough records in class or cluster? or i have to create a loop to load records..thanks

[2014-10-14 15:51] #6 closed, assigned to mogui

[2014-10-16 17:01] ValFadeev opened #17 "Command length limit 127 characters"
It appears that maximum length of the command to be sent is currently limited to 127 characters. If the length of the command supplied exceeds 127 characters a UnicodeDecodeError is returned. Is there any possibility to increase that or work around the limitation? Thanks.

[2014-10-18 21:57] #17 closed, assigned to Ostico

[2014-10-20 14:32] rangilboa opened #18 "Failed to run client.record_create - first arg should be a String not a List"
using example:

   cluster_id = client.command( "create class my_class extends V" )
   rec = { '@my_class': { 'accommodation': 'house', 'work': 'office', 'holiday': 'sea' } }

   rec_position = client.record_create( cluster_id[0], rec)  #####     pass

   rec_position = client.record_create( cluster_id, rec)      #####     fails

self._append( ( FIELD_SHORT, int(self._cluster_id) ) )
TypeError: in

[2014-10-26 11:50] stanonyime opened #19 "Update record"
How do you update a record?
I need to insert a record and then update add the new record to another record's linked list

[2014-10-28 09:51] alexspirt opened #21 "error datetime decode"
I run this command:
client.command("create edge my from #12:3903 to #12:3913 set date_s = '2014-08-27 17:21:29'")
Property date_s has DATETIME type.

And get error:
Traceback (most recent call last):
  File "create_graph.py", line 93, in <module>
    res = client.command("create edge my from #12:3903 to #12:3913 set date_s = '2014-08-27 17:21:29'")
  File "/usr/lib64/python2.7/site-packages/pyorie

[2014-10-28 10:42] #21 closed, assigned to nobody

[2014-11-01 03:07] rochacbruno opened #22 "edge.in leads to syntax error"
[code]

[2014-11-04 13:58] rochacbruno opened #24 "Cannot use "dir" or ipython autocomplete on client"
[code]

[2014-11-04 21:07] #22 closed, assigned to nobody

[2014-11-04 21:25] #24 closed, assigned to nobody

[2014-11-10 20:49] rochacbruno opened #25 "OrientEngine"
Hi, @Ostico , @mogui

I am starting a new project based in PyOrient (it will be PyOrient dependent)

I have large experience with MongoEngine and I contributed a little bit with some PR's, So now that I am using OrientDB I think it will be nice to have something like MongoEngine to Orient.

Are you guys willing to collaborate, participate, etc?

Now there is only the syntax definition, now I have

[2014-11-14 13:21] DeividasJackus opened #26 "Bug deserializing data containing boolean values"
Performing a query that returns fields of type BOOLEAN results in what seems to be an infinite loop.
Steps to reproduce bug:

client.command("create vertex v content {'a':false}")
client.query("select from v")

pyorient version: commit a37d133e21 (14/11/2014)
OrientDB version : 2.0-M1

[2014-11-14 13:21] DeividasJackus opened #27 "Storing record data in a dict attribute instead of OrientRecord itself"
My suggestion would be to have record data returned in a dict accessible through OrientRecord.data and keeping metadata like @rid and @version separate (OrientRecord.rid, OrientRecord.version). Returning query data as a dict instead of attributes should result in slightly more intuitive and easier data interaction during development.

[2014-11-15 20:03] #26 closed, assigned to Ostico

[2014-11-16 03:04] #27 closed, assigned to nobody

[2014-11-21 04:10] DeividasJackus opened #28 "Bug: fetch_response after creating vertex with empty EMBEDDEDMAP"
Failure when parsing resource returned after creation if it contains an empty _EMBEDDEDMAP_ element:

**FAILURE** odb.command('create vertex v content {"a":1,"b":{},"c":3}')

Although, it works if the _EMBEDDEDMAP_ is not empty or if there are no other elements after the empty _EMBEDDEDMAP_:

**SUCCESS** odb.command('create vertex v content {"a":1,"b":{"d":"e"},"c":3}')
**SUCCESS** odb.command('cr

[2014-11-23 07:43] DeividasJackus opened #29 "Bug: retrieving EMBEDDEDMAP containing non-scalar items"
Everything seems to work fine when retrieving an _EMBEDDEDMAP_ with **scalar** items:

However, if stored _EMBEDDEDMAP_ elements are **lists** or **maps**, those elements are added to the root element upon return:

[2014-11-24 00:14] #29 closed, assigned to Ostico

[2014-11-24 00:15] #28 closed, assigned to Ostico

[2014-12-10 18:53] 3djoser opened #31 "Protocol 27"
Hi and sorry for the noise.

As 2.0 is coming, the binary protocol is now at 27. When it was at 26, a simple bump in constant.py was making the trick, but now the connection request need to have a token-auth flag and extending pyorient code in this way is beyond my scope.

Here the text from  https://github.com/orientechnologies/orientdb/wiki/Network-Binary-Protocol  on protocol 27:
Since version

[2014-12-23 01:00] DeividasJackus opened #32 "Database user credentials not enough to access database"
The driver does not allow to open a database without connecting to the server instance using server credentials first.

In other words, ODB console allows to use credentials set as the OUser documents in the DB without using the credentials defined in `orientdb-server-config.xml':

[code]

pyorient, on the other hand, does not allow to do so without caling OrientDB.connect() first:

[code]

[2014-12-23 01:10] DeividasJackus opened #33 "Connection timeout/interruption detection"
The driver performs no checks for timeouts or server restart which results in blocking calls to the socket's recv() method.

If a timeout occurs or the server is restarted while a pyorient instance is active, it is possible to cause a KeyboardInterrupt (when using a CLI) or set additional checks/timeouts outside the module before calling the driver's methods.

An argument could be made that this i

[2014-12-23 05:16] DeividasJackus opened #34 "Deserialization: properties with linked class"
There seem to be issues deserializing records with linked classes (OUser.roles is a LINKSET with linked class ORole):

`client.query("SELECT FROM OUser")`

[2014-12-24 06:42] DeividasJackus opened #35 "record_load() fails when loading a non-existing record"
Is it by design that record_load() does not handle cases where the provided RID does not exist in the database? _client.record_load("#(non-existing RID)")_ raises KeyError and an AttributeError. Perhaps it would be nicer to simply return None or raise a custom exception?

[2014-12-25 17:15] AndreiD opened #36 "How do I get the edge number"
So I have something like this:

[code]

I can get the question, easy with:

sondages_list = client.command("select from V where @class='Sondage'")
sondage = sondages_list[0]

question = sondage.question

but it fails if I try to get "in_vote_yes"

I tried it with in_vote_yes = sondage.in_vote_yes[0]
but it fails with "OrientBinaryObject object does not support indexing.

[2014-12-25 17:52] #33 closed, assigned to Ostico

[2014-12-25 17:52] #32 closed, assigned to Ostico

[2014-12-25 19:25] #36 closed, assigned to nobody

[2014-12-25 20:22] #35 closed, assigned to Ostico

[2014-12-26 00:16] #34 closed, assigned to Ostico

[2014-12-26 20:14] DeividasJackus opened #37 "DECIMAL properties are typecasted to int"
The driver tries to typecast properties of type DECIMAL to int. Example using the public VehicleHistoryGraph database:

[code]

[code]

[2014-12-27 17:48] #37 closed, assigned to Ostico

[2015-01-08 17:53] #31 closed

[2015-01-13 21:35] mjmare opened #39 "Doc enhancement"
I'd appreciate some info in the docs on how to connect in a web app (say Flask).
Can the Client be global? Should the connection be opened for each request? Should the connection be closed (how?)

TIA

[2015-01-15 21:44] Ostico commented on #39
PyOrient is a lightweight binary client easy to add to other softwares/libraries.

Feel free to try to add to Flask and send me every bug/bad behaviour you find so i can improve it.
Follow documentation provided on how to use PyOrient.

    Should the connection be opened for each request? Should the connection be closed (how?)

You need create a connection for every request, but in the next relea

[2015-01-15 21:44] #39 closed

[2015-01-16 00:52] sinfex opened #40 "Set retrieval not working"
The drivers seems to have troubles retrieving/deserializing sets.

[code]

Expected result, confirmed with Studio, is as follows:

[code]

To clarify, this causes issues when, for example, trying to project something like *field.keys()*, with *field* referring to a property of type EMBEDDEDMAP:

[code]

[2015-01-16 12:12] sinfex opened #41 "Driver not handling @rid projection"
The driver seems to mishandle the projection of @rid during a query. Since the following is a projection, oRecordData['rid'] should be set to '#11:0'. Instead the RID is stored as the generated document's RID and not part of the projection. Also, if I'm not mistaken, record.rid should be equal to #-1:-1 in this case, since projections result in temporary documents.

[code]

Console and Studio prod

[2015-01-16 15:52] sinfex opened #42 "DATETIME incorrectly deserialized as DATE"
DATETIME projection is deserialized as *datetime.date* instead of *datetime.datetime*:

[code]

[2015-01-18 00:55] Ostico commented on #41
Hi sinfex,
this is by design, to avoid interference with reserved words.
https://github.com/mogui/pyorient/blob/master/pyorient/types.py#L27

Example of possible mistakes if value is projected:
https://github.com/mogui/pyorient/blob/master/test/test_reserved_words_batch.py#L78

This is what the console does ( and in my opinion this is a bad behaviour ):
[code]

You can obtain the rid as string cal

[2015-01-18 00:56] #42 closed

[2015-01-18 00:56] #40 closed

[2015-01-18 12:09] sinfex commented on #41
I am aware of that scenario and have found [this thread](https://groups.google.com/d/msg/orient-database/uiP5xYOwvH8/3b397XhBuucJ) with a response by Luca in regards to this problem:

[code]

This seems to be a tricky problem with some undesired outcomes with either one of two possible implementations, but I think Luca's advice should be followed because of the following reasons:

1. This is a pro

[2015-02-03 20:44] Mec-iS opened #43 "Problem in serialization.py with Python3.x"
In the README there is no indication about which Python versions are supported. As the library is really well written, it runs smoothly in Py3.3 except for some issues like this one:

At line 101 in the [serialization.py file](https://github.com/mogui/pyorient/blob/master/pyorient/serialization.py), the code triggers:

       File "/env/lib/python3.3/site-packages/pyorient/serialization.py", line

[2015-02-04 06:37] sinfex opened #44 "Trouble retrieving EMBEDDEDLISTs containing EMBEDDEDMAPs"
Storing an EMBEDDEDMAP works as expected:

[code]

So does placing the EMBEDDEDMAP in an EMBEDDEDLIST:
[code]

However, adding elements to the same EMBEDDEDMAP makes the driver hang/block:
[code]

[2015-02-04 13:31] tomron opened #45 "Query ignore limit parameter"
`res = client.query("select from x limit 40")`
`len(res) #20`
`res = client.command("select from x limit 40")`
`len(res) #40`

[2015-02-05 01:02] #45 closed

[2015-02-05 01:02] #43 closed

[2015-02-05 12:56] degustator opened #46 "Graph example doesn't work - yOrientCommandException: Cannot find a command executor for the command request: sql"
I tried to run example from GitHub "A GRAPH Example"

It fails at line
    eat_edges = client.command("""
            create edge Eat
            from (select from Animal where name = 'rat')
            to (select from Food where name = 'pea')
     """)

with exception:

C:\Python27\python.exe C:/Eriks/PythonScripts/pyorient_tests.py
Traceback (most recent call last):
  File "C:/test/PythonScripts

[2015-02-07 11:30] #19 closed

[2015-02-07 11:55] Ostico commented on #46
You're right, documentation is wrong, this is the right code:
[code]

I updated the doc

[2015-02-07 11:55] #46 closed

[2015-02-07 22:57] hamidfzm opened #47 "PyOrient Select Query no result with dynamic strings"
I'm trying to use select query in a flask application to find a username but if I use dynamic strings I got nothing but if I user static one I got my proper result. Here is my sample code:

[code]

[2015-02-08 15:38] sinfex commented on #45
Funny, I was not aware this was a bug, since .query() actually supports a second (undocumented) argument for limiting the results (which, unless provided, defaults to 20):

Default limit of 20 results:
[code]

Limit of 200:
[code]

Retrieving all results without limitation:
[code]

[2015-02-08 15:40] sinfex commented on #44
I am afraid this is not resolved just yet, as everything breaks with a slightly more complicated example:

[code]

[2015-02-08 18:50] Ostico commented on #44
Tnx, i'm seriously thinking about to rewrite the parser....

[2015-02-09 03:02] Ostico commented on #44
Done

[2015-02-09 03:02] #44 closed

[2015-02-09 11:01] degustator commented on #46
Thanks. Now its working

But it seems that there is one more error. Self isn't needed in line below.

# What each animal eats?
animal_foods = client.command("select expand( out( Eat )) from Animal")
for food in animal_foods:
    animal = **self.**client.query(
                "select name from ( select expand( in('Eat') ) from Food where name = 'pea' )"
            )[0]

[2015-02-09 11:08] Ostico commented on #46
Thanks :)

[2015-02-09 11:21] Ostico commented on #47
Hi @hamidfzm ,

i tried this simple test and i think there is not a problem with pyorient.
You should to check your code, there is something wrong.

[code]

Results:
[code]

[2015-02-09 11:21] #47 closed

[2015-02-12 10:30] sinfex opened #48 "Deserialization: quotes"
The driver seems to have problems deserializing content with quotation marks:

[code]

Console shows it is stored properly:
[code]

[2015-02-14 19:44] #48 closed

[2015-02-27 18:34] tumbak opened #50 "Massive Insert Intent."
Hello,

Is it possible to issue a massive insert intent like the Java API documented here

http://www.orientechnologies.com/docs/last/orientdb.wiki/Performance-Tuning.html#massive_insertion

thanks

[2015-03-03 10:07] Ostico commented on #50
Hi @tumbak , but the binary protocol does not provide a method to declare intent, you can try with
[https://github.com/mogui/pyorient#execute-orientdb-sql-batch](https://github.com/mogui/pyorient#execute-orientdb-sql-batch)

but surely this is not the same thing and could not works.

[2015-03-04 18:11] hrugani opened #51 "Using PyOrient in Multi-process approaches"
Can I use the same instance of client object concurrently.
ie,
I have several objects that need persist and query data in Orientdb.
All of them work concurrently.

Can I create only one instance of Client Object and share it with all of them?

[2015-03-06 19:42] Ostico commented on #51
Hi @hrugani ,
i've not tested concurrency, but i thik it should be safe. By the way, the socket connection is only one and all your concurrent objects will be serialized ( as for a pipeline ) because a connection pool is not implemented in the driver. So you can loose the performance advantages of the concurrency.

[2015-03-06 19:45] #50 closed

[2015-03-06 22:29] justinfx opened #52 "OrientRecord impl creates name clash on "@<property>" vs "<property>"?"
I'm just now checking out pyorient for the first time, and the first test I tried with the client resulted in unexpected behavior.

My test wants to use a schema like the following:

[code]

While this seems to be perfectly valid in OrientDB, I've discovered that the way records are implemented in pyorient creates a name clash between special `@property` names and normal `property` names. So with

[2015-03-07 11:26] hrugani commented on #51
Thank you for your feedback.

[2015-03-07 11:26] #51 closed

[2015-03-07 13:05] hrugani opened #53 "Can I use prepared commands with pyorient?"
Can I use prepared commands with pyorient?

Something like:
insert into Person (name, age) values (:name, :age) or
insert into Person (name, age) values (?, ?)

and then, submit the prepared command several times against database with different values for bind variables.

[2015-03-07 15:50] Ostico commented on #53
Hi @hrugani ,

OrientDB has does not offer support for prepared statement on the binary protocol.
PyOrient too, has no prepared statements, but this could be a good idea for an enhancement.

If you have some idea/code to submit i will happy to implement/integrate in PyOrient

[2015-03-22 00:00] Ostico commented on #52
Hi @justinfx
you suggestion was already taken in consideration as suggested by @sinfex . So now i changed the behaviour of OrientRecord object.

You can access directly the values of the oRecordData by calling them as OrientRecord properties.
You can access the values of the oRecordData by calling tham as dict keys.
OrientRecord now has defined _version, _rid, _class properties.

[code]

[2015-03-22 00:00] #52 closed

[2015-03-22 00:02] Ostico commented on #41
Hi @sinfex ,
i changed the behaviour of OrientRecord object.

You can access directly the values of the oRecordData by calling them as OrientRecord properties.
You can access the values of the oRecordData by calling tham as dict keys.
OrientRecord now has defined _version, _rid, _class, _in, _out properties.

[code]

[2015-03-22 00:02] #41 closed

[2015-03-22 01:58] justinfx commented on #52
Nice. thanks!

On Sun, 22 Mar 2015 1:00 PM Domenico Lupinetti <notifications@github.com>
wrote:

[2015-03-22 16:43] ysimonson opened #54 "Pyorient won't unlock database"
Hi, I'm trying to use pyorient to create a database, but it doesn't seem to unlock the database afterwards.

With the environment variable `ODB_URL=orientdb://root:foo@localhost:2424/test`, I'll run this script:

    #!/usr/bin/env python

    import os
    import pyorient
    import urllib.parse

    def main():
        print(os.environ["ODB_URL"])
        parsed = urllib.parse.urlparse(os.enviro

[2015-03-23 00:29] Ostico commented on #54
Hi @ysimonson ,
i tried your script and you're right, but this is not a pyorient fault, you should open an issue to Orient Db.

In my OrientDB logs i found this when the driver performs a close db:
[code]

So, OrientDB close the socket by your side as the specification says:
[http://www.orientechnologies.com/docs/last/orientdb.wiki/Network-Binary-Protocol.html#request_db_close](http://www.orientec

[2015-03-23 00:29] #54 closed

[2015-03-23 01:01] ysimonson commented on #54
OK, thank you for investigating

[2015-03-26 17:15] shongololo opened #55 "records returning with negative cluster id in place of digit?"
Hi, I am returning records from a class located (in this case) on cluster 12. However, the returned record rids are stating that the cluster id is -2.

It seems that I only have this issue when trying to filter the properties returned from the record. When returning all properties, the cluster id seems to return correctly.

e.g.
    *select * from some_class*
returns the correct rid, whereas:

[2015-03-26 17:18] shongololo commented on #55
It seems that I only have this issue when trying to return a single property from the record. When returning all properties, the cluster seems to show correctly.

[2015-03-26 17:34] shongololo commented on #55
Nevermind, updated to the latest version and now it seems to work fine. Thanks.

[2015-03-26 17:34] #55 closed

[2015-03-26 17:59] shongololo opened #56 "double property types returning as strings?"
I initially thought this was due to updating to the newest version, but I see that this behaviour also occurred with the prior version:

'Double' type properties are returning as strings, whereas 'integer' type properties are returning as integers. Is there some trick to getting the Doubles to return as floats in Python?

[2015-04-04 20:26] RXminuS opened #58 "Index out of range at random moments"
I keep running into this error and after hours and hours trying to figure out how it comes about I think it's time to ask for some help. I'm starting to feel like it's something fishy in PyOrient because I can't find the origin of this problem anywhere else.

The database is properly initialised and I manage to send 100s of batch commands without a problem and then all of a sudden I send a command

[2015-04-04 20:42] Ostico commented on #58
Hi @RXminuS , surely this could be a bug, i leave the issue opened and marked as bug. Next week i will investigate.

[2015-04-09 12:10] sinfex opened #59 "Deserialization: negative floats"
The driver seems to be deserializing negative floats by incorrectly typecasting them as strings:

[code]

This very well might be the issue described in #56

[2015-04-11 18:48] #56 closed

[2015-04-11 18:48] #59 closed

[2015-04-11 19:53] Ostico commented on #58
Hi @RXminuS

i tried to reproduce your issue and i tried with python 2.7.6 and python 3.4 on ubuntu system.

i used this simple script and it worked.
[code]

From the traceback you pasted, seems like that the response from OrientDB is corrupted and it is only space(s).

In the traceback a line is highlighted in the file "serialization.py", line [36](https://github.com/Ostico/pyorient/blob/master/p

[2015-04-19 10:56] el3ctron opened #61 "pyorient.exceptions.PyOrientWrongProtocolVersionException: Protocol version 29 is not supported yet by this client."
i am trying to connect using your lybraries but show me this:

pyorient.exceptions.PyOrientWrongProtocolVersionException: Protocol version 29 is not supported yet by this client. Is the version of orientdb?

[2015-04-19 11:01] Ostico commented on #61
What OrientDB version you are using?

[2015-04-19 11:37] el3ctron commented on #61
Studio version : 2.0
OrientDB version : 2.1-rc1

[2015-04-19 11:44] el3ctron commented on #61
import pyorient
client = pyorient.OrientDB("0.0.0.0", 2480)
session_id = client.connect( "admin", "admin" )

Traceback (most recent call last):
  File "/opt/mis_scripts/orientdb/crud.py", line 22, in <module>
    session_id = client.connect( "admin", "admin" )
  File "/usr/local/lib/python2.7/dist-packages/pyorient/orient.py", line 207, in connect
    return self.get_message("ConnectMessage") \

[2015-04-19 12:08] Ostico commented on #61
OK, so, there is a change in the protocol version in the new release. I will add the Support in the next days.

I suggest to use, for now, a stable  OrientDB version like 2.0.8.

[2015-04-19 12:14] el3ctron commented on #61
thanks for your quick answer!! nice software!

pd. now i am using OrientDB version : 2.0.7 and works ok.

[2015-04-19 12:17] #61 closed

[2015-04-19 13:17] #58 closed

[2015-04-20 15:09] sinfex opened #62 "Projections mishandling: @ prefix"
######  DB.query('SELECT **@class** FROM #16:0')
[code]

###### DB.query('SELECT **@class AS @class** FROM #16:0')
[code]

I was not sure if OrientDB projections could be prefixed with the @ sign in the first place...
Turns out they can (output from Studio):

###### SELECT @class FROM #16:0
[code]

###### SELECT @class AS @class FROM #16:0
[code]

[2015-04-22 13:18] shongololo opened #63 "asynchronous queries as generator expressions?"
Would it be possible yield responses from asynchronous queries so that calls to query_async  can be iterated using a 'for i in query_async()'?

The current callback procedure doesn't work with things like 'yield from' - perhaps because of pickling limitations?

[2015-04-30 09:12] shongololo opened #64 "OrientPy vs. concurrent.futures' ProcessPoolExecutor (pickling?)"
I am using a concurrent.futures instance of a ProcessPoolExecutor in a script. In the same script, I am using OrientPy to make queries to a database.

The script instantiates a class, inside of which, the query is made first, then the results are retrieved and sorted into a list, and then a ProcessPool Executor instance is created for processing the results in parallel.

However, this error messag

[2015-04-30 14:41] Ostico commented on #64
I think that
[code]
tried to call the driver in this manner:

[code]

Can you provide a simplified snippet of code to reproduce the issue?

Thank you in advance.

[2015-05-01 14:15] shongololo commented on #64
It seems the problem is that I was passing in a queue.Queue() object, which is designed to work with threading (vs. process pools), thus locks, etc. Once removing the queue object, then the ProcessPoolExecutor works fine.

Thanks.

[2015-05-01 20:51] Ostico commented on #64
Hi @shongololo ,

pyorient don'tt use queue, there is some strange conflict on the internal pyorient methods and the ProcessPoolExecutor.

Please, send me a little snippet of code to raise the exception if you can, i'd try to investigate.

[2015-05-02 23:02] ez47 opened #65 "Parse the CommandException for the actual exception."
```PyOrientCommandException: Cannot index record tags{id:test}: found duplicated key 'test' in index 'tags.id' previously assigned to the record #9:0 - com.orientechnologies.orient.core.storage.ORecordDuplicatedException ```

Im thinking something along the lines of ```split('-')[-1]``` then ```split('.')[-1]``` and which gives ```ORecordDuplicatedException``` and  create new exception objects bas

[2015-05-04 17:37] rwnew2012 opened #66 "client.command("select * from V") does not return all fields"
I might missed something obviously, but when I want to query the database
res = client.command("select * from V ")
res[0].oRecordData.keys()

it does not return all fields, looks like fields are chosen randomly. Is this a issue for pyorient, or I need specify something to have all fields returns.Thanks!

[2015-05-05 19:01] sinfex commented on #66
Could you specify the output and point out what seems to be random?

Are you asking why certain records have fields that others don't? If so...

\# **shorter explanation below**

**V** is the root vertex class. By performing `SELECT FROM V` you are selecting all vertices stored in the database, i.e. vertices of any class.
Each class is most likely to have different fields defined as part of the sc

[2015-05-06 21:06] Ostico opened #67 "Ref: AttributeError: 'tuple' object has no attribute 'major' #1"
Ref:
[AttributeError: 'tuple' object has no attribute 'major' #1](https://github.com/orientechnologies/pyorient/issues/1)

[2015-05-06 21:07] Ostico opened #68 "Ref: db.command hanging with 100% CPU #2"
Ref:
[db.command hanging with 100% CPU #2](https://github.com/orientechnologies/pyorient/issues/2)

[2015-05-06 22:22] dargolith opened #69 "Why is record id a protected member?"
With an OrientRecord object there's some properties, one being _rid (for record id) which by convention are marked as protected members.

Either I have misunderstood it and _rid should not be used externally. If so I would like another way to get the record id of a returned OrientRecord. Otherwise I would like the property to not be marked as protected, ie without leading underscore (_rid -> rid).

[2015-05-12 06:21] neRok- commented on #69
The attribute 'in' was renamed to '_in' as part of issue https://github.com/mogui/pyorient/issues/22 , so that it wouldn't conflict with the in operator. My guess is the 'rid' and 'class' attributes (maybe more) were then renamed to '\_rid' and '\_class' to keep the naming convention the same.

Using a trailing underscore is the norm to prevent conflicts with python keywords, thus '\_in' should pr

[2015-05-12 07:39] Ostico commented on #69
Hi @dargolith ,
@neRok- is right.

Please refer to [https://github.com/mogui/pyorient/issues/4](https://github.com/mogui/pyorient/issues/41).

Moreover i can't use in_ , out_ because OrientDB use them as default edge names in vertex class V

[2015-05-13 01:14] retrography commented on #61
But why was this closed? The issue persists on 2.1rc2

[2015-05-13 07:21] Ostico commented on #61
Hi @retrography ,

2.1 is not a stabile release, only a release candidate.

Pyorient Support all stable releases.

I will add the support soon.

[2015-05-13 19:08] dyroffk commented on #68
I'm also able to reproduce this problem of PyOrient hanging on successive commands.  Is there anything we can provide to help diagnose/resolve?

[2015-05-13 20:56] Ostico commented on #68
I will work on this ad soon ad possible. This week i think.

[2015-05-13 21:10] retrography commented on #61
Hi @Ostico,

Thanks, that would be great!

For the moment I am reverting back to 2.0.8. The issue is that I badly need the newly introduced "UNWIND" clause.

[2015-05-16 21:26] Ostico commented on #68
@omgold , @dyroffk

I fixed the issue, by the way, there are a syntax error in the statement
[code]

it should be:
[code]

[2015-05-16 21:26] #68 closed

[2015-05-16 21:28] Ostico commented on #67
I mark this as enhancement because it regards the porting of pyorient to python 2.6.x

[2015-05-18 16:36] lucasxteixeira commented on #53
+1 for this, it would be very useful!

[2015-05-18 16:44] rpietro commented on #53
agree, would prevent sql injections, which is a risk right now

[2015-05-18 16:45] lucasxteixeira commented on #63
+1 for this!

[2015-05-19 03:27] neRok- opened #70 "Problems after issuing an alter command"
I frequently create a new in memory database for my development. The workflow was create database, create classes and properties, then import my data. I have decided to use lightweight edges, so I need to introduce the command `client.command('alter database custom useLightweightEdges=true')` into my workflow. Whenever I issue the alter command, it successfully alters the database, but it causes i

[2015-05-19 12:08] dargolith commented on #69
I thought I had answered this, apparently not.

Thanks for the answers. Perhaps there's some naming that can be used in the future to avoid this. It would be nice to stick to conventions. At least I know for now that there's no problem to just suppress those inspection errors and use the protected members as public.

[2015-05-19 12:08] #69 closed

[2015-05-19 23:04] zorrobyte opened #71 "Is it possible to call OrientDB functions using pyOrient?"
http://orientdb.com/docs/2.0/orientdb.wiki/Functions.html

I did not see a contact method and apologize for using github's issues feature for this but am I able to call Functions I have created in OrientDB using this driver?

[2015-05-21 12:03] snig-b commented on #71
+1 - I have the same question.

[2015-05-23 20:03] shongololo commented on #64
Hi, here is a snippet, would be great there is a way to resolve:
[code]

Here is the console output / error message:
[code]

[2015-05-29 09:57] joelschw commented on #61
Hi @Ostico, I'm in a simillar situation to @retrography. I need to use the "UNWIND" function which is part of OrientDB v2.1 rc2. Is this something that's easy to fix?

[2015-05-29 14:44] retrography commented on #61
@joelschw, if you have serious data in your database avoid using 2.1. I found several serious bugs in it with potential for data corruption. I solved my problem with some creative data wrangling and using some simple javascript server-side functions. Hopefully 2.1 will be released soon (so many other advantages apart from UNWIND).

[2015-05-30 10:11] sinfex opened #72 "Handling ODatabaseException properly"
Suggestion:

Current scenario:

1. Driver establishes a connection to the database

2. Database is closed by the server (e.g. because of a backup import or change in user privileges)

3. Driver is used to execute a query

4. OrientDB spits out an exception:

5. pyorient raises *PyOrientCommandException* instead of *PyOrientDatabaseException*

When a query fails with PyOrientCommandException I beli

[2015-05-30 10:49] sinfex opened #73 "PyOrientCommandException construction"
[PyOrientCommandException](/mogui/pyorient/blob/master/pyorient/messages/base.py#L179-180) in base.py does not hold the exception class/message separately. It is also constructed using bytes and converted to an ugly representation when [PyOrientException's \__str()\__](/mogui/pyorient/blob/master/pyorient/exceptions.py#L9-13) is called in exceptions.py:

This makes cases like #72 even more cumbers

[2015-05-31 15:32] Ostico commented on #70
This issue is fixed since commit db3d0b243a18b23050fd35a4c69a93bc0e6d79ae

Close.

[2015-05-31 15:32] #70 closed

[2015-05-31 22:26] Ostico commented on #73
Tnx @sinfex ,

really a good idea.

[2015-05-31 22:42] #65 closed

[2015-05-31 22:42] #73 closed

[2015-05-31 22:43] #72 closed

[2015-06-06 16:01] Ostico commented on #71
Hi @zorrobyte ,

sure, you can create a function inside OrientDB and then call it by pyorient.
This is a function example:
[code]

There is a simple code snippet to call it:
[code]

[2015-06-06 16:01] #71 closed

[2015-06-09 19:33] optimuspaul opened #74 "pyorient.exceptions.PyOrientWrongProtocolVersionException: Protocol version 30 is not supported yet by this client."
OrientDB 2.1-rc3 doesn't work with pyorient.

[2015-06-10 22:07] blackhathedgehog commented on #66
It could be because of:

https://github.com/mogui/pyorient/pull/75

[2015-06-11 19:02] Ostico commented on #74
I will add the support soon.

At moment all OrientDB versions <= 2.1rc2 are supported

[2015-06-11 21:50] mcaramma opened #76 "record_create() not honoring given clusterID"
During development I found all created objects rid always match #3:[pos] no matter which cluster_id number is passed as argument during record_create(cluster_id, data) call.

To fix this and honor cluster_id argument pyorient/messages/commands.py(445)

     ( FIELD_SHORT, int(-1) ),

shuld be modified to

     ( FIELD_SHORT, int(getattr(operation, "_cluster_id")) ),

Thanks

[2015-06-12 14:07] mcaramma opened #77 "Invalid handling of OrientRecordLink lists inside pyorient/serialization.py(498)parse_value()"
The following code do not handle correctly list of links

                    map(lambda elem: self.parse_value(type(value[0])(elem)),
                            value)) + ']'

For OrientRecordLink objects `type(value[0])(elem)` raise `[AttributeException: OrientRecordLink has not attribute 'split']`.

One possible way to fix it is adding an isinstance() check like this:

                     map

[2015-06-25 13:56] Hrabal opened #78 "get cluster from class name"
Hi,

I'm trying to implement a "create class if not exists" function in this form:

try:
    cluster_id = client.command("create class {0} extends V".format(class_name))
except:
    cluster_id = ????

I can't find a way to get the supported cluster list of a class, tried client.command("info class {0}".format(class_name)) and return this exception:

pyorient.exceptions.PyOrientCommandException: co

[2015-06-25 14:17] Ostico commented on #78
Hi @Hrabal ,

sure you can.

With db_open message you obtain an Information object
[code]
or you can use the ```db_reload``` command to obtain the same info.

Take a look to this:
https://github.com/mogui/pyorient/blob/master/pyorient/messages/cluster.py#L243

You can access to the ID by the name
[code]
or to the name from it's ID
[code]

[2015-06-25 21:28] Hrabal commented on #78
Thanks @Ostico
The Information object seems gold!

I'll search in the code for some other goodies regarding db classes handling.

btw: I've made a "opening object" based on the OrientDb class, so I can use "with OpenDb() as db: du stuff"... There is already an object in pyorient with methods __enter__ and __exit__?
I'm sure if there is I't better of mine :)

Grazie

[2015-06-28 13:48] Ostico commented on #76
Hi @mcaramma ,

the code you reported as wrong, refers to the transactions and not to the creation of simple objects in **record_create** method call. I think it is right.
Can you provide me a simple piece of code to reproduce your issue and the expected behaviour?
 I will try to find the issue and to fix it.

Tnx

[2015-06-28 15:37] Ostico commented on #77
Hi @mcaramma ,

can you provide a simple code example to reproduce the issue?

Tnx in advance.

[2015-06-28 16:44] Ostico commented on #77
Hi @mcaramma ,

no more needed i found the issue, your code is right, i created a test also.

[2015-06-29 00:02] #77 closed

[2015-06-29 00:03] #74 closed

[2015-07-07 03:11] mark-eastwood opened #79 "pyorient hangs on floating point numbers >=1e7 when inside of a list"
I have observed this fault using both the "SQL" command syntax and the record_create and record_delete methods. I have included test code for each method below. The issue is that on reading and/or  writing documents containing a list that contains a floating point number greater than or equal to 1e7 (in fact just slightly lower with a bunch of recurring 9s), pyorient will hang. In the first method

[2015-07-14 21:44] josegomezr opened #80 "PyOrient fails when selecting a Node that has no properties"
To mimic the error do run the following SQL:

[code]

Then in python:
[code]

It throws an `IndexError`, with this stacktrace:
[code]

I'm using Python 2.7 and OrientDB 2.0.9

[2015-07-16 22:04] poodle230 commented on #53
+1

[2015-07-21 19:01] lebedov opened #82 "db_open with a username/password that differs from that of the server prevents one from running db_list"
Using revision 7254679 of pyorient with OrientDB Community 2.0.12 on Ubuntu 14.04.2, I noticed that opening a database with a username/password that differ from that of the server causes subsequent invocations of client.db_list to fail:

[code]

[2015-07-21 21:49] lebedov opened #83 "record_create() fails to process some record data structures containing Unicode keys"
When I tried to pass the following data structure to `record_create()` along with a valid cluster ID using revision 7254679 of pyorient with OrientDB Community 2.0.12 on Ubuntu 14.04.2 with Python 2.7.10, I observed the following exception:

[code]

The data structure is defined as follows:
[code]

Smaller data structures containing Unicode keys can be processed successfully, however.

[2015-07-23 16:10] lebedov commented on #83
Fixed in https://github.com/mogui/pyorient/pull/84

[2015-07-23 16:10] #83 closed

[2015-07-23 18:36] josegomezr commented on #80
The PR has been accepted so I'll close this issue.

[2015-07-23 18:36] #80 closed

[2015-07-24 21:27] lebedov opened #85 "is it possible to create an edge using record_create()?"
Is it possible to create an edge between existing vertices using `record_create()` rather than passing an explicit create SQL query to the `command()` method? If so, how should one specify the vertex information? Passing a record like `{@E: {'in': '#9:123', 'out': '9:124'}}` to `record_create()` creates an edge, but doesn't appear to connect the vertices. (I saw https://github.com/mogui/pyorient/i

[2015-08-05 13:43] robomotic opened #87 "record_create not working on orientdb 2.0.13"
I was following the tutorial with my orientdb 2.0.13 but seems that the create record function is not working unlike the command for the insert.
This is my code maybe I am doing something different?

def test_data():

    client = pyorient.OrientDB("localhost", 2424)
    session_id = client.connect( xxxxxxxxx, xxxxxxxxx )

    if client.db_exists( "TEST", pyorient.STORAGE_TYPE_MEMORY ):
        cl

[2015-08-05 21:49] el3ctron opened #88 "cannot login without root user"
hi, i am trying to operate with other user diferent from root user (that is working good) but for security reasons i need to operate with new users

i create the user on the web interface

but when i change my configuration with the new user, pyorient says:

Traceback (most recent call last):
  File "./generar_respaldo", line 121, in <module>
    session_id = client.connect( usuario, n )
  File "/

[2015-08-05 22:06] el3ctron commented on #88
I restart the server and now appears:

Traceback (most recent call last):
  File "./generar_respaldo", line 124, in <module>
    lista=client.db_list()
  File "/usr/local/lib/python2.7/dist-packages/pyorient/orient.py", line 282, in db_list
    .prepare(args).send().fetch_response()
  File "/usr/local/lib/python2.7/dist-packages/pyorient/messages/database.py", line 552, in fetch_response
    __rec

[2015-08-05 22:14] el3ctron opened #89 "there is a way to create a new user from pyorient?"
there is a way to create a new user from pyorient?

[2015-08-06 20:57] salsaysal opened #90 "binary edge"
This question has already been asked here:
https://groups.google.com/forum/#!topic/orient-database/PrH4kH-fhAY
Since I have the same doubt and it's still unanswered there, I thought that though I'm not sure this is the right place either, maybe there's more luck here.

[2015-08-07 10:24] Ostico commented on #76
No answer, i close.

[2015-08-07 10:24] #76 closed

[2015-08-07 10:33] Ostico commented on #85
Hi @lebedov ,

sorry, from what I know is not possible to create edges between vertex with CRUD commands.
You must use SQL ( the link you provided https://github.com/mogui/pyorient/issues/12 is a good example ) or the batch command ( https://github.com/mogui/pyorient/blob/master/test/test_reserved_words_batch.py#L154 )

[2015-08-07 10:33] #85 closed

[2015-08-07 10:37] Ostico commented on #88
Hi @el3ctron , you should provide me some line of code.
I think you not set the right permissions ( in the orient config ) that you are using in the code.

[2015-08-07 10:46] Ostico commented on #90
Hi @salsaysal ,
For now rid bags ( decode/handling ) are not supported in pyorient, i will work to implement this functionality as soon as possible.

For now please refer to this link:
https://github.com/mogui/pyorient/issues/36#issuecomment-68111120

[2015-08-07 10:47] Ostico commented on #89
Hi @el3ctron ,

from what I know, from binary protocol command interface there is no possibility to create a new user in OrientDB because of the users must be created/configured inside the orientDB configuration file.

[2015-08-07 10:47] #89 closed

[2015-08-07 10:52] Ostico commented on #78
Hi @Hrabal , not at the moment, if you implemented some kind of useful stuffs, send me a pull request with some test also, i will try them and hopefully i will merge :smile:

[2015-08-07 11:03] Ostico commented on #82
Hi @lebedov ,

this is because the user needed to run database administration ( CONNNECT ) commands differs from the privilege/users used to open a database ( DB_OPEN ) and perform data manipulations.

https://orientdb.com/docs/last/Network-Binary-Protocol.html#operation-types

So to have a list of databases you must connect with ```'username' and 'password'``` and after, when you choosed a databa

[2015-08-07 11:03] #82 closed

[2015-08-07 11:09] Ostico commented on #66
Seems resolved, reopen if needed.

[2015-08-07 11:09] #66 closed

[2015-08-07 12:19] Ostico commented on #79
Hi @mark-eastwood ,

i tried all your snippets, they works without problems.

I tried OrientDB Version 2.0.8 and 2.1.0 with PyOrient version 1.4.3

So, try with the newest versions of PyOrient.

I close the issue, please reopen if you have more troubles.

[2015-08-07 12:19] #79 closed

[2015-08-08 12:46] Ostico commented on #87
Hi @robomotic ,

i tried your code and seems there are some strange behaviours when adding a clusters before a class creation.

In your code when the cluster is created OrientDB returns it's ID ( 11 in my case ).

**After that, the new class ```Submission``` is created with the same ID ( 11 ) and this is a little strange, i think this is a bug**.

From the OrientDB log:
[code]

Moreover, the class

[2015-08-08 12:46] #87 closed

[2015-08-12 19:59] sebastiandev opened #91 "using transactions with graph operations"
I see theres a way of using transctions with records, but i see no way of doing that with graph operations.

```client.command("create vertex V content {'name': 'foo', 'age': '20'}") ```

returns the obj  and  I dont see a way of using factory to do that since the graph operations are done with message.command.

Any suggestions?
Thanks!

[2015-08-18 21:27] gg4u opened #93 "questions + issues: record_create do not create record, client.command cannot be put in transactions"
here doing test of this py driver.

A couple of *issues (see at the bottom)* prevent me to populate my class.
I also add a few questions, for improving documentation (and my understanding :+1: )

0. Global variables
client.db_create(db_name, pyorient.DB_TYPE_GRAPH, pyorient.STORAGE_TYPE_MEMORY )
will create the graph in memory, instead in the documentaiton I understood would be bettwe in PLOCAL.
W

[2015-08-18 22:09] lebedov commented on #93
@gg4u, you can obtain cluster information from the class instance returned by `pyorient.orient.OrientDB.db_open`:

[code]

Running a query via `client.command()` or `client.query()` should return a list of `pyorient.types.OrientRecord` instances (at least with the latest pyorient code from GitHub); check the `oRecordData` attribute of these instances for the data extracted from the database.

[2015-08-19 10:18] gg4u commented on #93
Hi @lebedov ,

`
tx = client.tx_commit()
tx.begin()
q=client.command("CREATE VERTEX Topic SET name = 'name', idSource = 10")
tx.attach(q)
`
results in:
`
tx.attach(q)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pyorient/messages/commands.py", line 529, in attach
    self._transaction.attach( operation )
  File "pyorient/messages/commands.py", line 458, in attac

[2015-08-19 10:38] gg4u opened #94 "getting info on connected databases"
Hello,
I connected to the db.
then I try again:

`
info = client.db_open( db_name, "user", "pwd" )
`
the console hangs and have to keyboard interrupt.

`
^CTraceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pyorient/orient.py", line 234, in db_open
    .prepare(args).send().fetch_response()
  File "pyorient/messages/database.py", line 101, in fetch_response
    result

[2015-08-19 10:55] gg4u opened #95 "nosetests failed with correct user password"
Tried to run a test, I updated test.cfg :

[server]
host: localhost
port: 2424
canroot: 0
[root]
user: user
pwd: pwd
[user]
user: user
pwd: pwd
[db]
existing: GratefulDeadConcerts
new: new_test_db

but a nosetests will keeps on finding 59 errors due to configuration:
'Get the user/password from the config/orientdb-server-config.xml file'
*Is there any other configuration to be done?*

** update **

[2015-08-19 13:26] lebedov commented on #94
How did you instantiate `pyorient.OrientDB`? Are you able to connect to the database successfully using the OrientDB console?

[2015-08-19 13:31] Ostico commented on #91
Hi @sebastiandev ,

from the code you posted i can see some errors, ther transaction handler must be instantiated with ```client.tx_commit()``` method and the CRUD methods must be used between begin and commit methods:

[code]

Please refer to https://github.com/mogui/pyorient#transactions for a better example.

[2015-08-19 13:32] lebedov commented on #93
You can't use the `command` method in a transaction; you need to use `record_create`, `record_update`, or `record_delete`.

[2015-08-19 13:37] Ostico commented on #93
Hi @gg4u ,

thank you @lebedov , you're right. In the OrientDB transactions ( and in pyorient of course ) only the CRUD methods are supported.

[2015-08-19 13:37] sebastiandev commented on #91
ok the ```tx.tx_commit() ``` is a typo. I meant ```client.tx_commit()```

But in the factory test you create the msgs before creating the tx, then attach and run.
Also note that the records get created, only that in a different cluster, with no class.

I know using it like a factory is the same as initiating the tx and then issuing record_create, because there's an **if** checking for global trans

[2015-08-19 13:44] Ostico commented on #91
Right, i missed the attach method.
Yes the command are only prepared inside an ordered list of commands.

In the example i created some records before transaction to show the result ofthe update and delete method called inside the transaction.

[2015-08-19 14:00] sebastiandev commented on #91
ok, i see that doing that actually works fine. But I'm wondering why doing

[code]

doesnt work. Isn't the same as doing ```rec_position2 = record_create(people_cluster[0], attrs2)``` ??

[2015-08-19 14:40] gg4u commented on #94
yes, I am able to connect to the console.

[2015-08-19 15:17] gg4u commented on #91
I also have an issue with transactions:
`
attr = { '@Topic': {'name': 'nameTopicHere', 'idSource': 15}}
cluster_id = 11 #check TODO how to get it!?
client.record_create(11, attr )
`

works ok, and I can see on the console it is inserted.

I try:
`
tx = client.tx_commit()
tx.begin()
q = client.record_create(cluster_id, attr)
tx.attach(q)
res = tx.commit()
`
I have no errors in python, but no record

[2015-08-19 15:52] gg4u opened #96 "massive insertion: no transacations?"
Hi,
I will need to insert the graph on batch.
I woudl break the process in two steps: inserting blocks of vertex first, then block of edges.

I was thinking to use transactions, but read the recommendation of Luca:
https://groups.google.com/d/msg/orient-database/wYT5lAlRXow/ULVNvgFTLB0J
don't use transactions (2012).
The link he pointed out has been also moved:
http://orientdb.com/docs/last/orient

[2015-08-19 21:21] lebedov commented on #94
When you connect through the console, are you accessing the database as a remote or plocal? I.e., are you connecting using `connect remote:localhost/db_name user pwd`?

[2015-08-20 08:33] gg4u commented on #94
I can do it as a remote.

[2015-08-20 09:27] Ostico opened #97 "Updating records without mangling edges"
Refers

[Updating records without mangling edges #4](https://github.com/orientechnologies/pyorient/issues/4)

[2015-08-20 09:29] Ostico commented on #96
Hi @gg4u ,

in the bynary protocol ( and in pyorient of course ) there is not the massive insert intent.

Please refer to:
https://github.com/mogui/pyorient/issues/50

[2015-08-20 13:41] lebedov commented on #96
@gg4u: Although it's probably faster to use OrientDB's ETL mechanism if it isn't too hard to convert your graphml file into CSV or JSON, splitting your list of vertex/edge insertions into batches via the existing [batch mechanism](https://github.com/mogui/pyorient#execute-orientdb-sql-batch) might be acceptable; I've used this approach to load graphs of about 10000 vertices and 30000 edges in a fe

[2015-08-20 13:47] lebedov commented on #94
The db storage type shouldn't matter from the perspective of pyorient because it is accessing everything over a network socket even if you are using it on system running the OrientDB server.

Perhaps there are some firewall rules set up on your system that interfere with accessing port 2424 locally? I can't reproduce this problem on my Linux system using the latest code from GitHub master.

[2015-08-21 10:02] gg4u commented on #94
mm no, no firewall here.
I destroyed and recreated in PLOCAL - (I am not saying that MEMORY was the cause, but now can connect and get info).

[2015-08-21 10:05] gg4u commented on #96
Yes I will do that in the end, - I would have like to try a parallel import since graph is 1000 times larger and previous attempt in importing an exported graph.ml of 16gb failed.

[2015-08-21 16:02] lebedov commented on #94
Not sure what went wrong; I was able to connect to a memory db served by OrientDB 2.1.0 using pyorient.

[2015-08-26 15:27] mogui opened #98 "Enhance pyorient documentation"
- [ ] Make a project site (here on github) with some simple guide on Usage (like [this](http://www.python-requests.org/en/latest/)) using sphinx
- [ ] complete and enhance docstring on methods to autogenerate a nice API reference (again with sphinx)

ref orientechnologies/pyorient#6

[2015-08-26 15:29] mogui opened #99 "Enhance code coverage"
:smiling_imp:

[2015-08-26 15:31] mogui opened #100 "Clean up README"
- [ ] fix contribution procedure
- [ ] explain right way to run tests

[2015-08-26 15:38] mogui commented on #95
Hi @gg4u,
that config file is no longer used to run tests the correct way this is the procedure:

- ensure you have **ant** installed
- run `./ci/start-ci.sh`
*this will download latest version of orient, mangle with few configuration and database and then run orient in background note that if you want to shutdown orient you've to find and kill the process manually*
- then you can finally run `nos

[2015-08-26 15:38] #95 closed

[2015-08-26 15:50] mogui commented on #94
Hi @gg4u,
I couldn't replicate this problem, are you running something like this:

      import pyorient
      db_name = "GratefulDeadConcerts"
      client = pyorient.OrientDB("localhost", 2424)
      cluster_info = client.db_open( db_name, "admin", "admin" )
      print(cluster_info)

      cluster_info2 = client.db_open( db_name, "admin", "admin" )
      print(cluster_info2)

cause it doesn't h

[2015-08-26 15:54] mogui opened #101 "Getting info on cluster map from Orient object"
Save the cluster map info object in the main client object `Orient` upon a connaction with a database, so it can be read afterwards.
It has to be also updated upon pushes from server when the map changes
see #94

[2015-08-26 16:01] mogui commented on #78
#101 should make this more easy :)
and I'm opening this #102 cause the opening object it's interesting

[2015-08-26 16:01] #78 closed

[2015-08-26 16:05] mogui opened #102 "make a with Statement Context Manager out of a db_open"
nice idea came from [here](https://github.com/mogui/pyorient/issues/78#issuecomment-115403891)

[2015-08-26 18:42] mogui opened #103 "Automate publishing on pypi on tag push"

[2015-08-26 19:12] mogui commented on #100
397af2bc33a0a

[2015-08-26 19:12] #100 closed

[2015-08-27 15:41] mogui commented on #103
@Ostico you don't have to upload to pypi manually anymore just bump the verison number on setup.py and tag on master with the new version and travis will manage it automatically \o/

[2015-08-27 15:41] #103 closed

[2015-08-27 17:27] Ostico commented on #103
Oh yeah!!!

[2015-08-28 14:02] mogui opened #104 "Allign the set of exception to the ones returned from Orient server"
at least for the PyOrientCommandException
ie.

     pyorient.exceptions.PyOrientCommandException: com.orientechnologies.orient.core.exception.OStorageException - Database with name 'testd' doesn't exits.

[2015-08-28 23:09] Ostico opened #105 "Hi Availability Map must be used for re-connection on node failure"
Hi Availability Map must be used to re-connect to another OrientDB node when the first node fails.

[2015-09-03 20:36] mcaramma opened #107 "serialization problems with specific sequence of chars"
OSerializationException is raised when calling `record_create()` with specific strings.

setup:
* Debian GNU/Linux 8.1 (Jessie)
* virtualenv
* pip install pyorient --upgrade
* created new database "test"
* created new class "MyModel" which get clusterID = 12

Code examples generating the exception:

= code example 1
[code]
[code]

= code example 2
[code]
[code]

A few examples of strings that gene

[2015-09-11 19:04] d1g1t4l opened #108 "sending large messages (over 65535 bytes) fails"
I created a multi-megabyte batch and captured the network traffic while trying to send it. Only the first ~65535 bytes of the batch got sent. The problem is in OrientSocket.write in orient.py:

[code]

This works for small buffers but is not guaranteed to send the full buffer when the size is large. The following code fixes the issue:

[code]

[2015-09-11 19:07] d1g1t4l opened #109 "pyorient not compatible with OrientDB 2.1.2"
OrientDB 2.1.2 uses the binary protocol version 32. pyorient fails if the version is greater than 30. My understanding is that version 32 is backwards compatible with version 30. Redefining SUPPORTED_PROTOCOL to 32 worked with my tests so far (creating classes, properties and vertices, running a batch and doing simple queries).

[2015-09-14 20:05] josegomezr opened #110 "commands.py _read_sync calls to async method"
in Line 210 of [commands.py](https://github.com/mogui/pyorient/blob/master/pyorient/messages/commands.py#L210)

[code]
Strangely this line never give me an error until now, somehow that call gives me an error.

[code]

I've just commented it and the error its gone, but don't know what consequences does that change will imply.

[2015-09-17 09:28] hanneslehmann opened #111 "pyorient.exceptions.PyOrientWrongProtocolVersionException: Protocol version 32 is not supported yet by this client."
Hi,

running on a debian linux machine, installed OrientDB and created Database "test", I got the error:

import pyorient
client = pyorient.OrientDB("localhost", 2424)
client.db_open( "test", "admin", "admin" )
session_id = client.connect( "admin", "admin" )
---------------------------------------------------------------------------
PyOrientWrongProtocolVersionException     Traceback (most recent

[2015-09-17 09:29] hanneslehmann commented on #111
Sorry, have seen, that there is already an issue

[2015-09-17 09:29] #111 closed

[2015-09-17 09:30] hanneslehmann commented on #109
Confirmed, same error on my side. Any workaround until the update?

[2015-09-27 17:00] Ostico opened #112 "[ Develop ] Reduce does not exists in python 3.x"
https://github.com/mogui/pyorient/blob/develop/pyorient/types.py#L249

[2015-09-27 18:21] lebedov opened #113 "OGM doesn't appear to support multiple inheritance"
Although OrientDB 2.1+ [supports multiple inheritance of db classes](http://orientdb.com/orientdb-2-1-rc1/), it appears that the OGM in pyorient (as of 44f6815) can't currently create a class with multiple parents; when run against OrientDB 2.1.2 with the aforementioned revision of pyorient installed, the following code fails at `g.create_all(Foo.registry)` because it tries to create the OrientDB

[2015-09-27 18:38] TropicalPenguin commented on #113
I'll take a closer look at this later, but at a glance, try creating a
single (grand-)parent:

Node = declarative_node()

class Foo(Node):

class Bar(Node):

class Baz(Foo,Bar):

Then you should only need to do:

g.create_all(Node.registry)

Each declarative_*() call will create a registry, shared by all inheriting
from it.
On 28/09/2015 7:21 am, "Lev Givon" <notifications@github.com> wrote:

[2015-09-27 18:44] lebedov commented on #113
@TropicalPenguin: confirmed that your suggestion works.

[2015-09-28 01:16] #109 closed

[2015-09-29 20:27] precabal opened #115 "README.rst not found in master"
your README.rst file is not in the master branch. I pulled it from the development branch and it installed correctly...

[2015-10-01 09:51] #112 closed

[2015-10-01 10:11] #115 closed

[2015-10-07 23:30] ajmazurie opened #117 "Packaging issue in 1.4.5"
Hi,
There seems to be a packaging issue with the latest tagged commit:

[code]

... while the version 1.4.3 installs without issue:
[code]

Best,
Aurélien

[2015-10-08 20:55] jwogrady opened #118 "Orientdb returning empty strings."
Can't get a valid response.....

Using Python 3.5.0 connecting to orientdb-2.1.3.

I've verified the port is open.  Tried the following test code

    import pyorient
    db_name = "GratefulDeadConcerts"
    client = pyorient.OrientDB("10.0.0.26", 2480)
    client.set_session_token(True)
    cluster_info = client.db_open( db_name, "admin", "admin" )

following error w/ stack trace

[code]

[2015-10-08 21:20] jwogrady commented on #109
confirmed still the case.

[2015-10-08 21:26] jwogrady commented on #118
The error I got is probably because I'm using the HTTP port.  When I use port 2424 I get the "Protocol version 32 is not supported yet by this client" error which is a known issue.

[2015-10-10 13:59] Ostico commented on #118
Hi @jwogrady

i just tried and it worked fine with orientdb-2.1.3.

Be sure to update Pyorient to the last version.

[2015-10-10 13:59] #118 closed

[2015-10-10 14:50] #117 closed

[2015-10-10 14:52] #113 closed

[2015-10-10 15:00] Ostico commented on #110
Hi @josegomezr

can you post a little snippet of your code?

Thanks

[2015-10-10 17:36] josegomezr commented on #110
Here is the [Full Snippet](https://gist.github.com/josegomezr/9bb195e816af3a8e2112).

[2015-10-10 18:32] #108 closed

[2015-10-10 18:33] #107 closed

[2015-10-12 21:48] lebedov opened #119 "regression in handling of non-string values in dict passed to pyorient.orient.OrientDB.record_create()"
As of 3c5ac78, passing a nested dict that specifies the class to use when creating the record via a '@classname' key and also contains a non-string value to `pyorient.orient.OrientDB.record_create()` raises an exception. For example, calling
[code]
where 9 is the ID associated with the V class causes the following:
[code]
No exception is raised for the same code for earlier revisions of pyorient.

[2015-10-13 14:03] lodrion opened #120 "Import schema from the database"
It would be useful to import the OGM schema for selected classes/inheritance subtrees from the DB instead of having to define them in code

[2015-10-13 22:54] jwogrady commented on #118
@Ostico I am/was using Using python 3.5.0 connecting to orientdb-2.1.3.  What version on Python were you using for test?

[2015-10-15 20:42] lodrion opened #121 "OGM transactions"
It looks like it is impossible to combine transactions with OGM-style updates, since the command results are local to the graph modification functions e.g. https://github.com/mogui/pyorient/blob/master/pyorient/ogm/graph.py#L265

could be useful to add transaction capabilities to the graph as well

[2015-10-16 03:23] Ostico commented on #121
Hi @lodrion,
The ogm are basically built on top of sql commands.

So, You're right, it is not possible to combine ogm feature with transactions because they are not provided by OrientDB binary protocol for sql commands.

You can ask to OrientDB team about that.

[2015-10-16 14:05] lodrion commented on #121
I believe it could be done using the new batch command http://orientdb.com/new-sql-command-batch/
but it would require somewhat significant modifications.

The problem I am trying to solve is atomic creation of subgraphs (each individual node or edge is somewhat meaningless

[2015-10-16 20:53] Ostico commented on #121
The Batch command is already implemented by PyOrient. It is a different use of sql command, so the command itself can not be used in transaction because they only works for CRUD methods, but the SQL batch can be used to exec pipelined sql operations.

[2015-10-16 21:02] lodrion commented on #121
Right, the problem is that there is no way of wrapping OGM-based graph changes into a single batch for execution. I am hand-waving here, but it could work like this:

graph.start_batch()  # this starts assembling the batch
graph.person.create(name = "blah")   # Instead of running create_vertex this would add a statement to the batch and return the batch variable id
# let a = create vertex person n

[2015-10-16 21:29] obi1kenobi opened #125 "Script argument insertion is still partially broken"
Consider this test case:

[code]

`scripts.py` produces the script `return g.v(''purple' apple')` (that's two ' before purple, not ") as shown by this output:
[code]

The regex replacement method cannot be made to work robustly for all inputs, and I think the only way to robustly achieve argument insertion is by parsing the script, generating an AST, and then doing the replacement there.

[2015-10-17 11:45] TropicalPenguin commented on #120
@lodrion: Almost done.

A method on Graph with the signature 'build_mapping(self, vertex, edge, class_names=None)'

Where vertex and edge will be, for example, types returned by declarative_node() and declarative_relationship(), respectively, and class_names can be a list of class names.

This will return a registry suitable for passing to Graph.include(). It seems this functionality will also mak

[2015-10-17 12:30] TropicalPenguin commented on #120
Ahem, not all intermediate nodes. If V/E aren't specified, then their immediate children between them and the desired subclasses must be.

[2015-10-17 14:02] lodrion commented on #120
I think importing schema whole-sale from the graph is a good intermediate solution. The advantage being that users can then interrogate the schema in python. I threw this together (which kinda works)

https://gist.github.com/lodrion/a558da3ec535e39e347f

[2015-10-17 23:15] TropicalPenguin commented on #120
@lodrion Here's my attempt.

I don't know how to query indexes, so those property attributes are currently lost. This also preserves class hierarchies, so no need to merge properties manually.

Here's the slightly ugly code to support sub-tree selection. Since the whole schema is queried anyway,    it shouldn't hurt too much to let users just interrogate the returned classes on their own, as you s

[2015-10-17 23:41] TropicalPenguin commented on #121
@lodrion Like Query, it would be cool to isolate this out.

Perhaps:

batch = graph.transaction()
batch['a'] = batch.person.create(name='blah')
batch.commit()
a = batch['a']

I won't be able to get to this for a few weeks.

[2015-10-18 11:30] TropicalPenguin commented on #121
Curiosity got the better of me; most of this is pretty straightforward to get working. Should be able to get something committed within a week.

[2015-10-18 14:02] lodrion commented on #120
Here are the indexes

aka g.client.record_load("#0:2").oRecordData

[2015-10-19 18:07] lodrion opened #127 "Querying edges"
I can't figure out how to query for an (ogm) edge between two known vertices? Is it possible to do with query().filter() ?

[2015-10-19 19:59] TropicalPenguin commented on #127
@lodrion filter() corresponds to the WHERE clause of the SELECT. You'll need to use what(), which - along with property specifications - takes those things defined in what.py (for this purpose, inE(), outE(), bothE())

Those functions, along with outV(), inV(), out(), in_(), both(), can be chained - e.g. query.outE().inV().outE('<edge-label>'))

[2015-10-21 19:13] obi1kenobi opened #129 "Unicode strings with non-ASCII characters cause UnicodeEncodeError"
Repro: use the testcase in #128 and add `'\u2603'` (unicode snowman) to the end of the unicode argument. Observe the following output:

[code]

[2015-10-22 09:48] TropicalPenguin commented on #121
Hi @lodrion, hopefully this meets your needs.

[2015-10-22 14:55] lodrion commented on #121
@TropicalPenguin looks great, thanks!

[2015-10-23 18:24] lodrion opened #133 "Management for non-graph/embedded types"
It would be useful to have schema management for non-graph types in orient db.

A usecase I am contemplating is having a class with an embedded map from string to objects of a particular class. Having a representation for the value class automatically imported (and being able to create in-memory instances of that would be very useful

[2015-10-26 12:43] C-Hach opened #136 "Method data_cluster_drop( some_cluster_id ) does not work"
I use Pyorient 1.4.4 with OrientDB 2.1.0. I use an integer (type int) for variable "some_cluster_id".

The method <pyorient>. data_cluster_drop( some_cluster_id ) does not work and returns with a Java exception: "java.lang.IllegalArgumentException - Cluster 0 doesn't exist anymore. Refresh the db structure or just reconnect to the database"

I tried to trace back the error and it seems that it fai

[2015-10-27 08:30] anux-linux commented on #118
@jwogrady Did you solved the issue? Because I´m stuck with the same problem using python 2.7.9 orientDB 2.1.3 and 2.1.4 and pyorient version 1.4.4

[2015-10-27 08:37] Ostico commented on #118
@jwogrady pyorient works with python 2.7.x and with python 3.x, more specifically, tests are run with 2.7 , 2.7.6, 3.4. I will try to add some tests for python 3.5

[2015-10-27 09:32] anux-linux commented on #118
@Ostico I'v did some debug and found some strange things:
when installing via ```pip install pyorient``` the installed version is 1.4.4
[code]
But in the the code in ```constants.py``` running at runntime you see this:
[code]
This is what causes the exception.

[2015-10-27 21:28] mogui commented on #133
you mean define a schema for a class and automatically have that class as results of queries instead of the generic record?

[2015-10-27 21:48] #96 closed

[2015-10-28 12:35] lodrion commented on #133
Not quite.
the latest addition let us build OGM schema from the database. But that includes models only for classes that derive from vertices and edges. I was trying to experiment with embedded maps from string to an object, where an object is not itself derived from a vertex. And the current class import skips those.

But it looks like orientdb itself does not quite support those https://github.c

[2015-10-30 17:31] lebedov opened #137 "strings that are invalid SQL variable names cause errors when passed to pyorient.ogm.Batch.__setitem__()"
Currently (as of 4474709), passing variables containing characters such as hyphens (e.g., 'TX-1') to Batch.\_\_setitem\_\_() when adding nodes/edges to the batch will cause an SQL error during batch execution because the resulting variable names ('$TX-1' in this case) are invalid. At the least, it would be desirable for the method to raise an exception if such strings are passed to it. More sophis

[2015-11-01 03:11] TropicalPenguin commented on #137
Hi @lebedov,

In testing, I found that it is possible to have hyphens in variable names, so long as you either
1) Use them only as a return value
2) Don't use them (...which defeats their purpose).

While I like the idea of warning as early as possible (in __setitem__), I thought it more important to be as faithful as possible to what OrientDB allows, so I've made __getitem__ raise an exception in

[2015-11-06 19:45] obi1kenobi opened #140 "Contains on embedded data types may be broken, and it's unclear how it's supposed to work"
There don't seem to be any tests that use the .contains method on an embedded data property (EmbeddedSet etc.) and I can't figure out how to use it without getting weird errors. Consider the following code:
[code]

This fails with the following trace:
[code]

Specifically, [this line](https://github.com/mogui/pyorient/blob/master/pyorient/ogm/query.py#L323) seems to be the problem, and I don't und

[2015-11-07 08:58] TropicalPenguin commented on #140
It was written following: http://orientdb.com/docs/2.0/orientdb.wiki/SQL-Where.html

... where 'contains' takes a conditional expression.

I've never used - and therefore don't really understand - the semantics of embedded types in OrientDB (nor, for that matter, linked class types), so I'm not sure how much I'll be able to help, except to naively guess that maybe 'contains' should only be callabl

[2015-11-07 09:59] TropicalPenguin commented on #140
Looks like it's impossible to overload python's 'in' keyword: __contains__ return value is always coerced to bool, and overloading __bool__ to return a non-bool will trigger a TypeError :(

[2015-11-07 17:09] obi1kenobi commented on #140
From the description of CONTAINS in the same document you cited:
"Condition can be a single item: in this case the behaviour is like the IN operator"

This definitely means the pyorient behavior is a bug. I also don't see an IN operator in pyorient's operators file.

Any thoughts on how best to proceed?

[2015-11-07 20:12] TropicalPenguin commented on #140
Hm, for some reason I didn't notice that bit.

This latest commit (https://github.com/OuterPlaypen/pyorient/commit/69475faab91c0bb747d42e64771629b3ae8f3191) is my proposal: since it behaves like IN, and IN looks like it was featured in earlier versions than CONTAINS, we might as well use it - and as a happy coincidence this gets around needing to define some ugly reverse-polish style ```in_(<value

[2015-11-07 20:20] obi1kenobi commented on #140
I don't have strong opinions on how this is implemented under the hood, so long as it works -- and it would be nice to have some test coverage to make sure it actually stays working in the future.

That said, it looks a little strange that a 'contains' is being rewritten with 'in' on the wire, when 'contains' was added before the 1.0 release. I don't think pyorient supports any version that early,

[2015-11-07 20:28] obi1kenobi commented on #140
Scratch that, please use `in` instead of the supposedly equivalent `contains` -- just checked on OrientDB 2.1.3 and they do not behave identically. `in` returns the correct result while `contains` returns no elements, when querying a FULLTEXT indexed field, even when it's the only predicate clause.

[2015-11-08 20:19] obi1kenobi commented on #140
Another update: `contains(X)` does not work when X is a primitive, but `contains X` does.

[2015-11-17 13:18] dargolith commented on #53
+1, Prepared statments to prevent injection would really improve things a lot.

[2015-11-18 05:50] zero- opened #143 "Protocol version 32 is not supported yet by this client"
*posted this already at https://github.com/orientechnologies/pyorient/issues/9 but it seems this repo is more active*

Getting `Protocol version 32 is not supported yet by this client` and I'm running 2.1.5.

Any ETA support for newer protocols?

[2015-11-18 08:30] Ostico commented on #143
Hi @zero- ,

OrientDB protocol 32 is already supported by pyorient:
https://github.com/mogui/pyorient/blob/master/pyorient/constants.py#L8

What is you pyorient version?

[2015-11-18 08:34] zero- commented on #143
Hey @Ostico, just installed it from pip yesterday and the version is 1.4.4.

[2015-11-18 09:04] Ostico commented on #143
Check this,

https://pypi.python.org/pypi/pyorient

There coud be some issues with last pyp push, let me know.

[2015-11-18 10:38] zero- commented on #143
`pip install pyorient` install 1.4.4 because using `pip install -v -v -v pyorient` told me that all newer releases are consider "pre-releases" so I had to use `pip install --pre --upgrade pyorient` to upgrade to `1.4.6a`.

[2015-11-18 12:33] Ostico commented on #143
Pip lies!! :)

Consider them stable, i will fix as soon as possible.

[2015-11-18 17:01] dargolith opened #145 "Several parallel connections praxis"
This is a question (or 2 actually).

I need to run queries in parallel from python. The idea is to use several instances of pyorient.OrientDB, one for each parallel command.

Example:

    Incoming request -> query1 starts
    context switch
    incoming request -> query2 starts
    context switch

Of course, one object won't do since the socket will already be used when query2 attempts to use it.

[2015-11-18 22:31] obi1kenobi opened #146 "Unicode strings with codepoints at or below \u00ff are encoded as \x?? rather than \u00??"
This is a different facet of the unicode encoding issue mentioned in #129, which is unfortunately not solved by PR #142. This is because of two issues:
- Python chooses to represent \u00?? codepoints as \x??, which is not supported by OrientDB.
- on Python 2, pyorient uses `str` values internally, which are implicitly encoded with `ascii` and therefore cannot correctly represent all of Unicode.

T

[2015-11-20 20:36] egabe opened #147 "LINK field error"
Orientdb version 2.1.5 Pyorient 1.4.6a0

I have a simple select from a class. In this class theres a field which is a LINK type field. When I run this query

`select * from cities`

it work's fine.

But when I run this query

`select *,country.name from cities`

Country is the LINK type field. it conatins an @rid to the countries class.

It generates an error on server side

Error on unmarshalling

[2015-11-23 15:31] devspacenine opened #148 "OrientRecord - __eq__() and __cmp__()"
It would be nice if the OrientRecord class had `__eq__()` and `__cmp__()` methods so that we can check for the existence of a RID in a list of OrientRecords.

[code]
Thoughts?

[2015-11-24 14:17] devspacenine commented on #148
Would also be pretty useful to have `__contains__` and a lot of the other container methods. That way we can do things like check for a field in a record.

[code]

[2015-11-25 14:51] Imperatus opened #149 "Edges on record_update"
I'm trying to update a record via the record_update function.
To illustrate the problem, a simple case:
1 - I retrieve a record via "SELECT * FROM User WHERE @rid = <some_rid> LIMIT 1"
2 - This yields an OrientRecord object as expected. This has an out_hasRole edge.
3 - I update this record with itself via:
    update_success = self.client.record_update(record._rid, record._rid, record, record._ve

[2015-12-07 22:51] obi1kenobi opened #150 "Null record support, for the sake of the gremlin 'optional' operator"
Pyorient currently does not support returning records with `null` entries -- it simply raises an `Exception(NULL Record)` in `messages/base.py#_read_record`.

This is very unfortunate, as it renders the [optional](http://gremlindocs.spmallette.documentup.com/#optional) gremlin operator useless -- when the optionally-selected record does not exist, it's returned as `null` and pyorient raises an exc

[2015-12-09 20:21] obi1kenobi commented on #45
https://github.com/mogui/pyorient/commit/0d551fce8e363771510613194dc74e61724c956d is an incorrect fix:

[code]

[2015-12-09 20:24] obi1kenobi opened #153 "Query ignore limit parameter, part 2"
#45 is only partially fixed by https://github.com/mogui/pyorient/commit/0d551fce8e363771510613194dc74e61724c956d

[code]

I was unfortunately unable to reopen the issue, so I have to open a new one.

Additionally, do you think it would be possible to remove the implicit 'LIMIT 20' added to queries? It's not mentioned anywhere in the documentation and is unintuitive -- if I pass a SQL command, I ex

[2015-12-10 10:28] amitlicht opened #154 "Implement auto-reconnect on server restart"
After a restart of the orientdb server, the pyorient client can no longer communicate with it.
Right now our only resolution in this case is to restart our entire server (which uses pyorient as it's orientdb client) each time the orientdb server has to be restart. That much for availability.

Suggestion: when identifying connection problems, try to reconnect at least once. Only if the reconnection

[2015-12-10 11:34] amitlicht commented on #154
update: eventually we decided to catch connectivity problems which appear on command executions (socket.error & PyOrientConnectionException) and create a whole new pyorient client context. This is not optimal, but works. In my opinion supporting it directly in the pyorient library would be better.

[2015-12-10 17:53] devspacenine opened #155 "Binary parser broken in serializations.py"
The `_parse_binary` method of the OrientSerializationCSV class is missing a `self` argument in the definition. Or, if it was intended to be a static method, it is missing the @staticmethod decorator.

[2015-12-13 21:08] antonyh commented on #53
+1: without this, it's a huge barrier to solutions using pyorient, and possibly to OrientDB in general if it's not in the binary driver. I'd rather not rely on a WAF to detect malicious SQL when this could be done cleanly within the application. I'd be happy with a helper that sanitises a string if such a thing exists?

[2015-12-15 02:21] ramtinms commented on #118
I had the same problem, after 3 hours of debugging, I found what was the wrong for me: port number!!!! , If you use http port (e.g. 2480) instead of binary port (e.g. 2424) you will get the same error : "Server sent empty string".

[2015-12-16 14:40] Ostico commented on #118
@mogui , we must check the pip package creation automation.
Seems not working well, or at least it seems not wotking everytime.

This is the actual version on Github
[code]
But on Pipy the last version is pyorient 1.4.5c :
https://pypi.python.org/pypi?%3Aaction=search&term=pyorient&submit=search

[2015-12-21 19:16] lebedov opened #160 "shields on pyorient's PyPI page link to other package's PyPI page"
The latest version and downloads shields on the pyorient PyPI page point to https://pypi.python.org/pypi/requests

[2015-12-31 23:20] lebedov commented on #119
This problem seems to have gone away in 5b458ba (at least when I attempted to replicate it with Python 2.7.11 and OrientDB 2.1.8).

[2016-01-06 20:55] lodrion commented on #33
Hi.

This fix is for the read side of the communication. But the problem still exists on the write side -- when the connection has been stale for a while, the orientdb server drops it, and any new command needs to write first.. And the thread completely blocks on write.

So the same change needs to be applied to https://github.com/mogui/pyorient/blob/master/pyorient/orient.py#L94

Additionally it

[2016-01-07 18:54] obi1kenobi opened #162 "AttributeError: can't set attribute in groovy.py"
Running the tests on the current `develop` branch on OS X Yosemite with the default python 2 (version 2.7.10) causes two tests to fail:

[code]

This seems to be an error caused by an update to the python standard library, where the `groups` attribute was turned into a read-only property. Other projects are affected too:
https://github.com/nltk/nltk/issues/1106

[2016-01-08 05:26] lashex opened #164 "PyOrientConnectionException against 2.1.8 Server"
After successfully starting OrientDB v2.1.8
[code]
and then installing the `pyorient` using this command: `pip install --pre --upgrade pyorient` to get version `pyorient==1.4.6a0`

This snippet of code:
[code]
...generates the following stack trace.
[code]

[2016-01-08 07:25] neRok- opened #165 "Problem with serialization of a list of strings."
There is a problem with the code in `OrientSerializationCSV._encode_value()`, as it throws an error when attempting to join a list of string values. Below is the current code.
PS- I haven't bothered to learn how to use github yet, so my code pasting here will have to do.

    elif isinstance(value, list):
        try:
            ret = "[" + ','.join(
                map(
                    lambd

[2016-01-10 23:21] pkoppstein commented on #143
@ostico (and anyone else interested): It's January 2016, and "pip install pyorient" still installs 1.4.4.  Meanwhile, thanks for the tip about "pip install --pre --upgrade ..."

[2016-01-11 04:56] neRok- commented on #150
I am experiencing this problem too.

I have attempted to mod pyorient to return None, rather than raise an error. I notice in the query results though, there will be a None, rather than the record I expect. Eg: If I did a query like `select from V`, I would expect the results to be along the lines of `[<oRecord for #9:0>, <oRecord for #9:1>, <oRecord for #9:2>]`, but I actually get `[<oRecord for

[2016-01-11 05:59] neRok- commented on #150
Actually I did manage to replicate the issue with a simple database, however pyorient was throwing a different error in this instance. Anyway, see https://github.com/orientechnologies/orientdb/issues/5579

[2016-02-04 19:34] obi1kenobi opened #169 "Security vulnerability + preferred disclosure channel"
I discovered a serious security vulnerability in the client, and in the spirit of responsible disclosure, I was hoping to discuss it privately with the maintainers of this project. However, I was not able to find a contact email address of any kind for either @mogui or @Ostico , and I'm unaware of any other maintainers with admin access to the repo.

I didn't want to simply open a pull request wit

[2016-02-04 19:40] lebedov commented on #169
Their email addresses are on the pyorient PyPI page.

[2016-02-04 19:45] obi1kenobi commented on #169
Good call. I will update this issue once the vulnerability is resolved.

[2016-02-04 21:25] Ostico commented on #169
Hi @obi1kenobi ,
feel free to write me directly about that, my email is in the PyOrient package also:
https://github.com/mogui/pyorient/blob/master/setup.py#L23

[2016-02-04 21:57] obi1kenobi commented on #169
Will do. Taking this to email. Thanks!

[2016-02-05 01:00] ycaxgjd commented on #143
`pip install --pre --upgrade pyorient`
thank you very much!

[2016-02-05 08:28] mogui commented on #169
Ohai mail are available on pypi address is directly with all the details please :)

Sorry for typo, sent in mobility
Niko

[2016-02-09 20:28] obi1kenobi commented on #169
Addressed in #172.

[2016-02-09 20:28] #169 closed

[2016-02-19 15:15] tvashtar opened #176 "Problem with encoding dates in serialization.py"
I think the accepted standard of OrientDB is to write and read dates in POSIX/Unix time which means they should be encoded and decoded as if they occurred at UTC midnight. If you use the OrientDB console:

[code]

You get as expected 0L for the long value stored.

In serializations.py dates are encoded and decoded using local time. This means if the client using pyorient reading a date field is in

[2016-03-28 09:16] gaoxuesong opened #177 "how to connect orientdb cluster"
My orientdb cluster has two host in one server, the hosts ports are 2425 and 2426.
How to connect the orientdb cluster?

[2016-03-29 17:35] lebedov commented on #177
I assume you meant that two separate OrientDB installations are running on the same host. If so, specify the port of the server you want to connect to as follows:

[code]

[2016-03-30 11:14] rainkin1993 opened #178 "string of query result is not unicode"
python:2.7.8
pyorient:1.4.7

the result from query command is not unicode string

I have the same problems in this question http://stackoverflow.com/questions/26749081/python-unicodedecodeerror-on-long-query-using-pyorient, which @Ostico answered.

What's more, I run the test code in pyorient/tests/test_utf8_string.py.
Take the test_utf8_words for example,

`

`

[2016-04-01 08:54] fzwaard commented on #176
I had the same problem with datetime. I followed your instructions also for 't' (datetime) and not only for 'a' (date):
after
`def _encode_value(self, value):`
add
`from calendar import timegm`
and then change
`ret = str(int(time.mktime(value.timetuple())) * 1000) + 't'`
to
`ret = str(int(timegm(value.timetuple())) * 1000) + 't'`
and change
`collected = datetime.fromtimestamp(float(collected) / 10

[2016-04-08 03:30] el3ctron opened #180 "why database returns only 20 values"
i just doing a query in a database that have 58 registers but when i connect and do
[code]
it returns only 20!  ??

Using Studio version : 2.1
OrientDB version : 2.1.14

and last version of pyorient

[2016-04-08 03:44] TropicalPenguin commented on #180
You're right, this needs to be fixed :) When I initially implemented it,
not providing a limit caused the query to hang, but I'm sure there must be
a better approach.

On Fri, Apr 8, 2016 at 3:30 PM, el3ctron <notifications@github.com> wrote:

[2016-04-08 04:30] el3ctron commented on #180
ok i find a solution changing

`for i in client.query(query1):`

by

`
for i in client.**command**(query1):`

[2016-04-09 01:23] pabloa commented on #180
Try:

`client.query(query1, 200)  # 200 = LIMIT 200`

[2016-04-09 01:25] pabloa opened #181 "What is the 3rd parameter in .query() function?"
In the examples there is one query

`result = client.query("select from my_class", 100, '*:0')`

100 = LIMIT 100

What is '*:0' ?

[2016-04-10 02:58] #136 closed

[2016-04-10 03:01] Ostico commented on #180
Hi @el3ctron , i know it should be better explained, but refer to this:
https://github.com/mogui/pyorient#make-a-query

The first number is the limit in the query, te latter one is the fetchPlan and you can refer to this:
http://orientdb.com/docs/2.1/Fetching-Strategies.html#format-for-fetch-plans

[2016-04-10 03:01] #180 closed

[2016-04-10 03:20] Ostico commented on #181
Hi @pabloa please refer to this explanation:

https://github.com/mogui/pyorient/issues/180

[2016-04-10 03:20] #181 closed

[2016-04-10 22:56] Ostico commented on #176
Hi, i studied your suggestions and i found that these fix doesn't works in all cases.

For example, when a sql string is used instead of an Date object:
[code]
The date is stored in Long format inside OrientDB as Date representation, but when it is decoded with this patch by the client it becomes "2016-04-09". Both forms ( String with property Date and the Date Object ) are sent to the client in U

[2016-04-10 23:01] Ostico commented on #164
Server close the connection silently when a wrong password is provided. I will try if is possible to catch the exception in a better way.

[2016-04-10 23:52] Ostico commented on #164
Hi @lashex ,
I tried your code and i've found an error.
You have to [open](https://github.com/mogui/pyorient#open-a-db) a database or [connect](https://github.com/mogui/pyorient#init-the-client) to a database before to issue commands like db_exists.

[2016-04-10 23:52] #164 closed

[2016-04-10 23:53] Ostico commented on #140
Can i close?

[2016-04-10 23:54] #143 closed

[2016-04-11 00:19] Ostico commented on #145
Hi @dargolith ,
regarding the first question, after db_close the client can not be used anymore and it must be re-initialized:
[code]
Regarding the second question i suggest you to make a pool of clients ( one for physical server ) and issue a db_open command everytime you must change the database without close them.

Otherwise you can create a pool of clients, one for database on which the client

[2016-04-11 00:20] Ostico commented on #146
Can i close?

[2016-04-11 00:46] Ostico commented on #153
Hi @obi1kenobi ,

OrientDB team suggests to do not remove the limit, so i propose this fix, let me know your doubt or suggestions.

https://github.com/mogui/pyorient/pull/183

[2016-04-11 00:52] tvashtar commented on #176
"i think that the responsibility of writing and decoding the dates in the right Timezone and format, must be delegated to the applications ." I 100% agree, but pyorient doesn't let you do that. It **forces** both the read and write client to write and decode using the local timezone.(by using time.mktime and date.fromtimestamp )  And currently that means it is impossible to use pyorient to store d

[2016-04-11 00:55] tvashtar commented on #176
Also quick question, did you try your test without my patch (i.e. normal pyorient). I think it also fails.

[2016-04-11 03:11] lashex commented on #164
Thanks for the simple (and in hindsight a bit obvious) guidance.

[2016-04-11 09:27] Ostico commented on #176
Surely the datetime management could be improved, but the fix is not so simple because of different date handling between strings and date objects.

I think that your results are not good because the ```date=Date('1970-01-01 00:00:00')``` is evaluated at server side and calculated in the timezone of the server. When you retrieve it, the offset changed at your side because of the pyorient.

I sugge

[2016-04-11 13:45] obi1kenobi commented on #153
#184 looks like it would work, but it would be best to have some tests to be sure that it stays working :) :+1:

[2016-04-11 15:35] obi1kenobi commented on #140
I think this is still at least a documentation issue -- it's unclear to me whether the `contains` method in pyorient is allowed to take a collection type or not, and whether that will be correctly handled by the code. So I'd say it's still an open issue, but it's of course your decision in the end.

[2016-04-11 15:38] obi1kenobi commented on #146
Ah yes I think this was fixed. Closing.

[2016-04-11 15:38] #146 closed

[2016-04-11 20:18] Ostico commented on #153
Of course
Il 11 apr 2016 3:45 PM, "Predrag Gruevski" <notifications@github.com> ha
scritto:

[2016-04-11 20:46] Ostico commented on #177
Tnx @lebedov .

I close

[2016-04-11 20:46] #177 closed

[2016-04-11 20:53] Ostico commented on #155
Tnx for the pull request.

I close

[2016-04-11 20:53] #155 closed

[2016-04-12 00:35] #153 closed

[2016-04-12 17:28] Ostico commented on #165
Hi @neRok-
don't worry for git.
Anyway i will try to apply your patch but without git you will lose your signature on this fix.

More important, can you send me your test code? In this manner i can reproduce and fix the error.
Later i will insert such code it in the test suite to avoid future regressions.

[2016-04-13 07:23] kaYcee opened #185 "Support for OrientDB 2.2.x"
First of all: great driver! Are there any plans to support also OrientDB 2.2.x (ie binary protocol version 33 and above) or will this require a (potentially) new driver?

[2016-04-14 02:05] erikwiffin commented on #165
I'm not sure if this is the same bug or not, but I've run into some issues creating records with embedded lists and dictionaries. I can load records with them:

[code]

but if I attempt to create my own I get an exception:

[code]

I don't have a fix, but I do have two failing tests https://github.com/erikwiffin/pyorient/commit/80521357579c8fb7e6464e3fe906e23c41bf4f31.

[2016-04-14 21:45] Ostico commented on #185
Yes, the support is obviously in plan.
When OrientDB 2.2.x will be released as suitable for production environments the support will be tested and the driver upgraded to support this version.

[2016-04-15 14:57] dargolith commented on #145
Hi,

I already ended up doing what you suggested (first variant). I made a pool of connections, on server level (same connection pool for different databases), issuing db_open for each new request.

Thanks for answer!

[2016-04-15 14:57] #145 closed

[2016-04-25 08:10] lovesh opened #186 "Calling db_exists after calling db_open closes the database"
After i open a database using `db_open`, i can create classes and do other operations and things are fine. But if i call `db_exists` on an already opened database and then try to some operation it results in the error `pyorient.exceptions.PyOrientDatabaseException: com.orientechnologies.orient.core.exception.ODatabaseException - Database 'memory:<db name>' is closed`

Here is the code to reproduce

[2016-04-26 16:23] nosepy opened #188 "Float truncation"
When storing a Python float value as part of a record to OrientDB and reading it from the DB again, the precision is truncated. It seems that the Python float is mapped to a Java float with the first one corresponding actually to a C double precision. Therefore I would assume that the Python float should be mapped to a Java double instead of Java float.
When I change one line in function _encode_v

[2016-04-27 17:15] frostspb opened #189 "problem with batch"
Hello,

I use OrientDB 2.1.3 and pyorient 1.4.9. I have a problem with “batch” function - it throws an exception. Googling told me that pyorient might not work well with commands containing apostrophes, however it was also mentioned that this has been fixed in version 1.2.

Here is traceback:

[code]
Code snippet:

[code]

[2016-04-27 20:54] frostspb commented on #189
I've updated the database to version 2.1.15 and the problem was solved

[2016-04-27 20:54] #189 closed

[2016-05-16 17:25] karel-un opened #191 "very slow SELECT when vertex include quite populated embedded set"
Week ago I have posted issue on OrientDB:

[https://github.com/orientechnologies/orientdb/issues/6101](https://github.com/orientechnologies/orientdb/issues/6101)

But it looks like there is some performance problem when decoding large embedded set in pyorient.

So I repost it here and will close on OrientDB.

[2016-05-19 23:04] fauskanger commented on #185
I get the PyOrientWrongProtocolVersionException when trying to connect to OrientDB 2.2.0 using pyorient 1.4.9.

Am I correct in that support for 2.2.x is going to resolve this?

[2016-05-23 22:25] karel-un commented on #185
+1

[2016-05-24 09:37] dhirender-tyagi opened #192 "Update selected properties of a vertex in a class"
I am not able to update selected properties of a vertex in a class.
i.e I have a object of properties of a vertex like {"name":"toni", "age":"28"} now I want update "name" property to "dhirender" and add one new properties "lastName" with value "tyagi" and age should be remain same. So with using
record_update("cluster_id", "r_id", {"@classname":"abc", {"name":"dhirender", "lastName":"tyagi"}}, r_

[2016-05-27 22:36] Sidhesh-telsiz opened #193 "Unable to open database"

[2016-05-27 23:28] Sidhesh-telsiz commented on #193
Closing this, could be because of some inconsistency with my ipython package.
Works with python.

[2016-05-27 23:28] #193 closed

[2016-05-28 03:28] TropicalPenguin commented on #188
Fixed in https://github.com/mogui/pyorient/commit/3ab37aabe2b7041c119d97231eef73b31ebb391c.

[2016-05-28 03:28] #188 closed

[2016-05-28 07:48] #121 closed

[2016-06-01 00:31] Ostico commented on #185
Upgrading. The protocol changed significantly and some issues on documentation slowed work. Will be updated as soon as possible. I apologize for the delay.

[2016-06-01 21:48] pabloa commented on #185
+1

[2016-06-06 01:13] #185 closed

[2016-06-06 01:14] Ostico commented on #165
Fixed, tnx @neRok- for the contribution.

[2016-06-06 01:14] #165 closed

[2016-06-06 07:08] kaYcee commented on #185
Hi @Ostico, thx for the update. Unfortunately line 235 in otypes.py still seems to cause some issues due to its integer conversion. Since the 2.2.0 Community Edition identifies itself as `OrientDB Server v2.2.0 (build develop@r79d281140b01c0bc3b566a46a64f1573cb359783; 2016-05-18 14:14:32+0000) is starting up.` it appears that the naming causes some trouble... as a workaround I commented the affect

[2016-06-06 23:12] Ostico commented on #185
Tnx @kaYcee.
No ripercussion on that for 99% of functionalities . Tnx for the string, i will improve the check.

[2016-06-06 23:42] Ostico commented on #192
Actually, the protocol and the driver, does not support the partial update in the CRUD methods.
You must use SQL commands.

[2016-06-06 23:42] #192 closed

[2016-06-07 07:16] dhirender-tyagi commented on #192
Thnx @Ostico

[2016-06-07 22:01] sray1 opened #194 "Slowdown when querying large number of edges (~1000) and saving"
OrientDB v 2.1.11, Python 2.7

Hi,

We are trying to perform a query of all connected in/out edges (numbering ~5000) from a set of vertices in our db and would like to save these edges' information like rid and various properties using this code:

[code]

Here is  the profile of the query represented above when run on the orientdb console:

[code]

The issue is that there seems to be a slowdown is

[2016-06-07 23:02] fauskanger commented on #185
Thanks for the update! Excited!

[2016-06-10 16:33] Ostico opened #195 "otypes.py still seems to cause some issues due to its integer conversion"
https://github.com/mogui/pyorient/issues/185#issuecomment-223883399

[2016-06-12 16:39] #195 closed

[2016-06-13 13:03] JannisT69 opened #196 "client.db_open errors"
hi,

i always get an error with db_open, my sample code

Python v3.5.1 / 64bit
OrientDB Server v2.2.0

[code]

Error:

Traceback (most recent call last):
  File "R:/PyCharm_Projects/orientDB.py", line 8, in <module>
    client.db_open( dataBase, "root", "12345pass" )
  File "C:\Python35\lib\site-packages\pyorient\orient.py", line 379, in db_open
    .prepare((db_name, user, password, db_type, clie

[2016-06-13 13:39] Ostico commented on #196
Hi @JannisT69 , already fixed in the last release. Please upgrade your version. Re-open the issue if it is not closed or properly fixed.

[2016-06-13 13:39] #196 closed

[2016-06-13 13:45] JannisT69 commented on #196
Seems to still be a problem. I installed pyorient-1.5.2 with pip and still got the same issue

[2016-06-13 14:02] Ostico commented on #196
I think that some issues with Pip occurred. The driver is at version 1.5.3b

https://github.com/mogui/pyorient/blob/master/setup.py#L22

[2016-06-13 14:09] Ostico commented on #196
@mogui , please can you send me a mail with pip-deploy configuration details, alternatively can you check what went wrong?

Tnx :grin:

[2016-06-13 14:36] mogui commented on #196
@Ostico everything should be automated with trevis, I mean the pushing to pip.
By a quick check seems pypi is down for maintenance https://pypi.python.org/ and serving a freezed mirror could be that?

[2016-06-13 14:56] xscratt opened #197 "Parsing of responses with exception works incorrect"
Hello everyone,

I faced with strange behaviour on attempt to execute batch containing error.
The bug can be reproduced with the following script:
[code]
In this example, command with mention of `invalid_class` should raise parsing error. When I execute this batch in OrientDB studio, I'm getting expected error message: `Error on parsing query at position #14: Error on parsing query Query: ``invali

[2016-06-13 15:21] Ostico commented on #196
@mogui don't know, but seems that the last package on Pip is 1.5.2

[2016-06-13 15:25] mogui commented on #196
will check

[2016-06-14 13:27] neRok- opened #198 "Discussion regarding this package and "object graph mappers""
First up I will start by saying that the current pyorient.OGM should probably be moved to it's own package. It makes sense for pyorient to be responsible only for the task of connecting to OrientDB, and the creation of simple objects (the driver, per se). A good reason for doing so is because of the SQL injection vulnerability on the current home page. This was entirely the problem of pyorient.OGM

[2016-06-15 00:50] TropicalPenguin commented on #198
With just a few (significant) caveats, I agree with you.

The main issue here isn't separating concerns (the OGM is dependent on pyorient, but not at all the other way around). The main issue is making a python OGM for OrientDB accessible to users.

When there is more than one viable alternative, it makes perfect sense for each to have their own project. Then for this project to link to them as pl

[2016-06-15 22:17] RedactedProfile commented on #149
+1

[2016-06-18 16:40] meatballs commented on #196
I have this problem too - pip installed v1.5.2

[2016-06-20 06:26] arslantopcu opened #200 "orientdb 2.2.2 connection error"
ValueError: invalid literal for int() with base 10: '0 (build develop@r79d281140b01c0bc3b566a46a64f1573cb359783; 2016'

pyorient = 1.5.2
orientdb = 2.2.2
python   = 2.7

[2016-06-22 21:07] TommyBrown commented on #200
I am getting this error as well.

pyorient = 1.5.2
orientdb = 2.2.0
python = 2.7

[2016-06-23 09:54] princelySid commented on #200
Getting a similar error:
`ValueError: invalid literal for int() with base 10: '0 (build UNKNOWN@r; 2015'`
pyorient: 1.5.2
orientdb: 2.1.0
python: 2.7

[2016-06-23 12:21] #160 closed

[2016-06-23 12:21] #162 closed

[2016-06-23 12:44] mogui commented on #196
should be fixed now https://pypi.python.org/pypi/pyorient/

[2016-06-23 13:01] mogui commented on #198
Hi @neRok-,
here original author of the driver, Yes you do have a point on the separation of concerns, but also with @TropicalPenguin that being this the first place to look for a python driver give an OGM accessible to users is a great thing.
Said that i propose two things:
- if @TropicalPenguin (being the main maintainer) wants to move the OGM to its own package, he has only to ask for it :)
- W

[2016-06-23 13:13] mogui commented on #194
hi @sray1
How heavy is the slowdown? I mean from what you pasted the query with orient console took 1021 seconds ~15 min,
What it takes to do that with pyorient ?
Some overhead is due to the parsing into a python object, but should be not so big.

[2016-06-23 13:22] mogui commented on #191
will look into that

[2016-06-23 14:32] mogui commented on #186
Hi @lovesh,
This is not an issue it's how orientdb works.
You should not mix **server** commands with **database**, beside the fact that I do not understand why you need it, and that by chance your server and databse share the same user passwords, which should not be the case, here's what happens
- you connect as *root* with `connect`
- then create a db
- next you open the db with `db_open` that i

[2016-06-23 14:32] #186 closed

[2016-06-23 16:11] mogui commented on #191
Hi @karel-un

This it's not true we're still using the old CSV serialization. I could verify the performance issue,
We're deciding whether to try and **optimize the current** or to **implement the binary protocol** (pure python or using the c binding)

anyway it will be not very soon, sorry :D

[2016-06-23 16:16] mogui commented on #178
We had some issues publishing to pip, so as said in SO by @Ostico you should have an old version, try installing now the new ;) or reopen if still buggy

[2016-06-23 16:16] #178 closed

[2016-06-23 18:47] #119 closed

[2016-06-23 18:49] #137 closed

[2016-06-23 18:50] #133 closed

[2016-06-23 18:51] #129 closed

[2016-06-23 18:51] mogui commented on #127
@TropicalPenguin should we close this?

[2016-06-23 18:54] #120 closed

[2016-06-23 18:56] mogui commented on #110
@josegomezr this is still an open issues?

[2016-06-23 18:59] #88 closed

[2016-06-23 19:00] #67 closed

[2016-06-23 19:01] mogui commented on #64
@shongololo @Ostico it is still an issue?

[2016-06-23 19:02] #62 closed

[2016-06-23 19:11] #127 closed

[2016-06-23 19:19] #25 closed, assigned to nobody

[2016-06-23 19:20] #18 closed

[2016-06-23 19:21] #16 closed

[2016-06-23 19:25] mogui commented on #154
yep should be handled by your code by catching the exception

[2016-06-23 19:25] #154 closed

[2016-06-23 23:06] sray1 commented on #194
Hi @mogui,

I figured out the reason for the slowdown. For the edge class SemmedRelationship we use for in our db, there is the property SemmedData which is type EmbeddedSet and has Linked_Class to class SemmedDatum. SemmedDatum has 21 properties of strings and integers. Occasionally, some of the edges will have up to 35000 items in SemmedData as you can see below:

[code]

If I run this same quer

[2016-06-24 00:10] josegomezr commented on #110
Long time no use this, i'll give it a look and report any errors.

[2016-06-24 12:33] karel-un commented on #191
Should I reopen issue on OrientDB to have them look at CSV, or do you think problem is in parsing in pyorient ?

We have overcomed this by excluding embedded set from result as seen in original issue, so it is not important for us anymore. I just think it should be sorted in some way. I guess that binary protocol is faster, so if you decide to implement it, it will probably bring not only fix to t

[2016-06-27 05:05] neRok- commented on #198
All good points. @mogui, I presume you have done some projects utilising orientdb/pyorient. Based upon this experience, do you have any comments regarding the functionality of oriental?

[2016-06-29 06:13] imainetti opened #201 "client.command() returns wrong cluster_ids on create class"
_orientdb 2.2.3
pyorient 1.5.4
Python 2.7.11_

[code]
output:
`Cluster: [11]`

but looking via console the class test1 is associated with other clusters:
[code]

am I doing something wrong or is this actually a bug?
Thanks

[2016-06-29 12:38] Ostico commented on #200
Hi all,
that issued should be fixed in pyorient v1.5.4. Try to update.
If the issue is still present, please send me some other infos and re-open the issue.

I need to know exactly what version of OrientDB you are using.
The version number is not enough because OrientDB present himself with different version strings, i'd like to know where you got it ( downloaded or from which repository you built

[2016-06-29 12:38] #200 closed

[2016-06-29 13:01] Ostico commented on #201
This is known issue. Please refer to this link: https://github.com/orientechnologies/orientdb/issues/6258

[2016-06-29 15:02] jetheurer commented on #42
I am still seeing this issue: ```SELECT DATE('2015-01-02 03:04:05') FROM V``` returns ```{'DATE': datetime.datetime(2015, 1, 1, 22, 4, 5)}```

[2016-06-30 04:51] imainetti commented on #201
Ok thanks!

[2016-06-30 04:51] #201 closed

[2016-07-14 19:11] jmyslik opened #202 "Parsing dates prior to 1970-01-01"
An unhandled exception is thrown when serializations.py tries to parse a date prior to the beginning of the UNIX era, 1970-01-01. As an example, I have a field called deathDate in a Person object.  When this is set to a date later than 1970-01-01 (stored internally as a positive long integer) all is well. Setting is before this date, e.g. 1964-12-01 (negative long integer) throws the unhandled exc

[2016-07-19 19:40] aemitos opened #203 "Messy oRecordData when a location and in()/out() is in projection of a query"
Hi
First, great job with pyorient. Congratulations.
When I query in the console.sh, I got this:

[code]
So, everything ok.
But, when I query in the pyorient I got this:

[code]
Take a look at `out`, it came inside of `location` field.
Am I doing something wrong or is it a bug?
Thanks in advance
Regards
André

[2016-07-20 19:35] Ostico commented on #203
Hi @aemitos ,
i made some tests, this is not a bug.

It is not related with in() and out() projection, it is related with the Lucene Spatial Index Plugin.
Seems that the response of OrientDB is different from the normal output for the protocol.

As example, this is the raw output of a normal query:
[code]

where the @ sign represents the Class name.

This is the raw output we get from a query invo

[2016-07-26 21:17] kived commented on #51
FWIW, I had issues using pyorient in celery workers when using the default multiprocessing for concurrency, but using eventlet for concurrency did work. YMMV. With multiprocessing, if two workers tried to access the database simultaneously they would both lock up when calling select() on the orient socket, and further workers would get "resource temporarily unavailable." After switching to eventle

[2016-07-27 14:49] Ostico commented on #51
mmm you're telling me that the socket is a static resource? ( in such a case it would be a bug )

I imagine a pool handling some clients in this way:
[code]
and they should work indipendently and thread safe. If this is not the case the code must be fixed

[2016-07-27 20:46] nikulukani commented on #191
I have started working on implementing the binary protocol (#204). Results in considerable speedup (~10x-50x in my case) when retrieving records with heavily populated maps/lists.

[2016-07-31 05:01] nikulukani opened #205 "Create class command does not necessarily return cluster_id"
In some examples in README.md and in some tests, cluster_id of a newly created class is assumed to be retrived via the following code

cluster_id = client.command( "create class my_class extends V" )

However, now that orientdb creates multiple clusters per class (controlled by the minimumclusters property, which by default equals the number of cores), the returned value is the number of classes a

[2016-07-31 05:06] nikulukani opened #206 "CSV serializer breaks down for lists with heterogenous data types"
The following code reproduces the error

from pyorient.otypes import OrientRecord
from pyorient.serializations import OrientSerialization

rec = OrientRecord({
            '__o_class': 'ListTest',
            'list':[1,'a']
         })

serializer = OrientSerialization.get_impl(OrientSerialization.CSV)
serializer.encode(rec)

[2016-08-03 05:46] lovesh opened #207 "Incorrectly formatted output when using multiple include clauses in select statement"
This is the how my database is
[code]

Now executing this query
[code]

The output is
[code]

Here `result` is a dictionary with only one key `this` where it should have been a dictionary with 2 keys `id` and `name`. Whats more wrong is the value of `result['this']`.
[code]

[2016-08-10 22:22] kived commented on #176
I'm having a problem with this too, and I have to say that the pyorient behavior is incorrect. First, OrientDB can be schemaless or only have partial schema. Considering that dates are commonly found in various types of data, and those types of data may not have schema in your database, this creates a vast difference in handling (more than just the obvious difference of converting a string to a da

[2016-08-10 22:46] kived commented on #176
FYI - as a workaround, since my application is an API and all datetimes returned to the client should be UTC anyway, I just set that as the default at the top of my database Python file:

    from os import environ
    from time import tzset

    environ['TZ'] = 'UTC'
    tzset()

This works on OS X, and should work on Linux (or any *nix). Might not work on Windows. Has other effects, of course -

[2016-08-15 21:43] kived opened #209 "failure to parse temporary rids"
Temporary rids cause a crash in pyorient. A simple example:

    Traceback (most recent call last):
      File "/Users/ryan.pessa/venv/callsign/lib/python3.5/site-packages/pyorient/orient.py", line 411, in command
        .prepare(( QUERY_CMD, ) + args).send().fetch_response()
      File "/Users/ryan.pessa/venv/callsign/lib/python3.5/site-packages/pyorient/messages/commands.py", line 149, in fetch

[2016-08-15 22:10] kived opened #210 "nested records not fetched"
When a query includes nested records, pyorient does not include the nested records, but rather a link to the nested record (or tries to, in the case of temporary records, see #209). Orient Studio returns the nested records themselves. This is particularly an issue in the case of temporary records, as you can't simply select the temporary record in a separate query.

For example, with the query `se

[2016-08-16 00:16] obi1kenobi opened #211 "DEFAULT property values in embedded types returned incorrectly"
I was able to reproduce this bug in both OrientDB 2.2.7 and in OrientDB 2.1.16. To reproduce, first create a new database and fill it as such:

[code]

Note that because of the default value of the embedded type, the `info` field has the following data, as shown by OrientDB Studio: `
{"foo":{"@type":"d","@version":0,"@class":"data","normal":false}}`

Then, fire up your favorite Python REPL and use

[2016-08-18 19:43] obi1kenobi commented on #211
I was able to reproduce this bug in OrientDB 2.1.16 as well, and updated the issue title and content accordingly.

[2016-08-25 14:13] jjpikoov opened #214 "Invalidating cache"
Is there any way to invalidate cache using pyorient? In java I have used something like:
[code]
It would be nice if pyorient had also such thing.

[2016-08-31 07:33] sinfex commented on #42
@jetheurer: this seems to rather be an issue with incorrect timezone settings. Seems like either your OrientDB/JVM instance is parsing the DateTime as GMT+5, while in python you're getting a UTC representation.

[2016-09-06 16:05] anber500 opened #215 "infinite loop when connecting to orientdb that's running in distributed mode"
I'm using orientDB v.2.2.7 on AWS in distributed mode.

When connecting using pyorient 1.5.4, the connection freeze up.
Inside the OrientSerializationCSV class, on the "_parse_collection" method, the while loop goes into an infinite loop.

It looks like "_parse_set(self, content)" can't really handle unexpected formatting. It seems very unreliable. If "_parse_value" returns the same content as wha

[2016-09-06 16:26] anber500 commented on #215
"_parse_collection" has a similar issue. Any while loop that makes use of "_parse_value" run the risk of infinite looping if the format is unexpected. "_parse_value" is not a friend to us :(

[2016-09-07 18:19] anber500 commented on #215
Rather than hacking away at the current parser, I want to use another deserializer instead but that would introduce a dependency into pyorient. I'm ok with that for my project but that would probably not be ideal for the pyorient project in general.

I'm proposing that instead of specifying a "serialization_type" on "connect", why not pass the serialisation class instead?

That way we can use our

[2016-09-13 03:37] anber500 commented on #215
I tried using the development branch with the new Binary serialization. It works perfectly with the servers running in distributed mode.

[2016-09-15 00:53] anber500 commented on #215
There is a bad memory leak in the development branch. Use with caution.

[2016-09-15 10:57] anber500 commented on #215
The memory leak is caused by "pyorient_native". It's a shame because the binary serialize implementation is much faster than the CSV one and it's the only option that works in distributed mode :(

[2016-09-21 10:50] anber500 commented on #215
The Memory leak with pyorient_native has been resolved. Merging the binary serializer into the master branch is now a viable option for solving the distributed mode issue.

[2016-09-23 14:38] kfloz opened #217 "OrientRecord - JSON Serialisation Issue"
Hi,

I am trying to execute this query using pyorient:

response = client.query("select @this.toJson('rid,version,fetchPlan:in_*:-2 out_*:-2') from Worker where userName = '" + userName + "'")

Im expecting 0 or 1 result, but the SQL itself returns JSON and can confirm it works in studio.  When used as part of a microservice, I get the error below as the OrientRecord:

<pyorient.otypes.OrientRecor

[2016-09-23 16:02] kfloz commented on #210
Hi,

Can you share some code snippets on how you are processing the (select @this.toJSON() as data from (...))?  I has a similar query but was getting a JSON serialisation issue?  Refer my issue 217 just posted?

Thanks

[2016-09-27 23:13] anber500 commented on #217
I tried running your query in my version of pyorient and the result came back fine. How are you trying to parse the json?

The json should be in a variable called "this".
Try making that call like this:

    res = client.command("SELECT @this.toJson('rid,version,fetchPlan:in_:-2 out_:-2') FROM Worker WHERE userName = '%s';" % userName)
    obj = json.loads(res[0].this)

[2016-09-29 19:20] vguhesan opened #218 "client.db_open gets stuck"
Just pulled the master branch of pyorient on 9/29/2016 and tried it against OrientDB 1.5.4.

Gets stuck on the db_open call forever. Distributed Database.

True

ctrl+c - output
^CTraceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/pyorient-1.5.4-py2.7.egg/pyorient/orient.py", line 379, in db_open
    .prepare((db_name, user, password,

[2016-09-30 13:04] jmanjohns2 opened #219 "Pyorient Create_Record Passes Null Values to OrientDB When Unicode Object is Used Instead of String #6757"
## OrientDB Version, operating system, or hardware.
- v2.2.1

## Operating System
- [X ] Linux - Debian 8 x64

## Expected behavior and actual behavior

Just for starters, I'm new to OrientDB and am not a python expert, so if this is an easy fix, my apologies and thanks in advance.

I have an OrientDB with a class called Nodes. The Node class has the following variables:

1. Abs_Address (String) [

[2016-10-02 18:56] anber500 commented on #218
I had the same issue. I think our issued are related:

[https://github.com/mogui/pyorient/issues/215](https://github.com/mogui/pyorient/issues/215)

I found a solution that works in distributed mode:

[http://stackoverflow.com/questions/39121685/running-orientdb-in-distributed-mode-on-aws-does-not-work/39441873#39441873](http://stackoverflow.com/questions/39121685/running-orientdb-in-distributed-m

[2016-10-02 19:04] anber500 commented on #215
Here is a solution to the original bug.
There is currently a development branch on pyorient that implements the missing binary serializer (OrientSerialization.Binary). I have another branch that has some fixes merged into it.

Install it with:

    pip install https://github.com/anber500/pyorient/tarball/17f5e42e83859a661c6483f7fa812226194694dd#egg=pyorient

Set your serialiser as follows:

    cl

[2016-10-03 13:04] Ostico commented on #218
Hi all,
only to explain the issue, OrientDB, changed the response for the list of nodes, before that change the node list was a serialized message like a normal resultset, now it is changed to binary and and there is no way to request the list of nodes in the previous format , so pyorient can not decode it and it crashes.

i must do further investigations, anyway i will try to fix this issue as so

[2016-10-03 14:55] Ostico commented on #218
@anber500 what kind of message the csv parser does not handle?

[2016-10-04 18:03] sps90 opened #220 "WAL mode changed to false, causes fail on batch commit"
v2.2.4
java version 1.8.0_101
[x ] Windows

I am working on defining schema for loading data in batches from pyorient ogm.
As per performance tuning documentation, i have changed the value of storage.useWAL=false in tag in orientdb-server-config.xml, but the following error occurs
"pyorient.exceptions.PyOrientCommandException: com.orientechnologies.orient.core.
exception.OStorageException - WAL mo

[2016-10-04 20:41] mogui commented on #110
closing this one for lack of ore info, we can reopen it if it needs

[2016-10-04 20:41] #110 closed

[2016-10-04 20:44] mogui commented on #150
merged in develop

[2016-10-04 20:44] #150 closed

[2016-10-04 20:56] mogui commented on #202
I cannot replicate this bug in any way it seems to work well for me,
any way the exception will be raised by pure python,
If you run the two lines you wrote in a python interpreter
`collected = datetime.fromtimestamp(float(collected) / 1000)
where collected = -160426800000`
they raise an exception?
maybe it's a different point that explodes?

[2016-10-04 21:18] #211 closed

[2016-10-04 21:21] mogui commented on #215
@anber500 could do regular push request against develop branch with your fixes?
Thanks a lot!!

[2016-10-04 21:34] mogui commented on #217
@kfloz yep should work as @anber500 work

[2016-10-04 21:34] #217 closed

[2016-10-04 21:40] mogui commented on #218
@Ostico i think we should move to the binary serialization by default what do you think? we could ask @nikulukani to mergethe nativa serialization in the main project

[2016-10-04 21:42] mogui commented on #220
this i ssomething dealing with the orient configuration, the error is an exception raised by the OrientDB server

[2016-10-04 21:43] #220 closed

[2016-10-05 00:22] anber500 commented on #215
I would but I didn't do any of the fixes. All the fixes has been stuck in push request for a while and we couldn't wait weeks for a fixed release. I only forked the code to merge a patch into the develop branch that was given to me by the developer of pyorient_native. I saw the code was missing form the develop branch and I patched it.

To be honest, I would prefer to pull from an official build b

[2016-10-05 00:31] anber500 commented on #218
It's been a few weeks but I think the csv serializer gets stuck on the "message" node in the packet.

I've been using the binary serializer for about 2 weeks now and it working great. Pyorient_native 1.1.1 had a nasty memory leak but pyorient_native 1.1.2 has been working without any problems. I don't have any benchmarks but I think the binary serializer feels much faster than the csv parser.

[2016-10-05 00:42] anber500 commented on #215
I have also had some chats with the people from OrientDB. They have their own forked version of pyorient  which they point to in their documentation. It's looks like they "officially" support that fork but they don't. It would be really great if the fixes could make it's way back upstream. As a newcomer to OrientDB, I must admit that it's very confusing to have to deal with all these forks and no

[2016-10-05 08:05] mogui commented on #215
@anber500 ok now it's merged in the develop branch.
Yes I know it's confusing we have to clean up all the messy with forks and the likes, we are chatting with people from OrientDB too to understand how to do it
It will be better I promis :D

[2016-10-12 05:18] anber500 commented on #219
Don't attempt the "replace" method. it's a slippery slope. Rather always encode your values before sending them to OrientDB.

I use the following for encoding values:

    import json
    def _escape(string):
        return json.dumps(string)[1:-1]

In your case, you could use it like this:

        new_Node = {'@Nodes':
                {
                    "Abs_Address":_escape(Ono.absolute_addr

[2016-10-12 14:26] jmanjohns2 commented on #219
You are my hero. I STRONGLY suggest that we include your method in the pyorient how-to / documentation. It makes tons of sense, but I wouldn't have thought of it on my own.

[2016-10-17 17:14] kived commented on #210
@kfloz

[code]

`respond()` is my helper for preparing a response for use in my application, `self.client_command()` is simply a reconnecting wrapper around `OrientDB().command()`.

As noted in the responses to your issue #217, the result will still be an OrientDB record response with a single field - by default it will be named `this`, I just prefer to alias it as `data`.

[2017-01-11 15:32] jobel-aqua opened #221 "PyOrientCommandException: - : while test for the existence of a class"
I was testing how to query for the existance of a class, so I was playing with the Animals db used as [GRAPH example here](https://github.com/orientechnologies/pyorient)
[code]
Then,
when querying the db using the db_name 'Animals' I received the following exception response (which it also occurs in other situations not described here):

`PyOrientCommandException:  - `

my query to test for the ex

[2017-01-11 15:38] jobel-aqua commented on #221
I found an error on my query that was adding an extra parenthesis '('

`sql_query_with_error = "SELECT FROM ( SELECT expand( classes ) FROM metadata:schema ) WHERE name = '{}')".format('Animal')`

the correct version:

`sql_query = "SELECT FROM ( SELECT expand( classes ) FROM metadata:schema ) WHERE name = '{}'".format('Animal')`

but now I have a `timeout: timed out` without having any results ba

[2017-01-11 15:48] jobel-aqua commented on #221
The timeout seems to be realted to the use of
`client.set_session_token(True)`

and not to the query. I restarted the kernel in my notebook and run again the script and now I have the expected result:

[code]
result output:
[code]
So I guess that I need to update the token to last more time, right?

[2017-01-11 16:11] jobel-aqua commented on #221
I am closing the issue as there were no issue at all. Although it will be good to have it in the http://stackoverflow.com/

[2017-01-11 16:11] #221 closed

[2017-02-05 17:52] dkhan11 opened #222 "Cluster Id"
Hi,

I'm sure it was asked before, but I really looked it up and it is not clear to me what is the official way to find cluster ids when using client.record_create.
Since I'm creating the classes somewhere else and it does not make sense to manage this list on my own, what is the official way to get the cluster ids used for record_create?

Thanks,
DD.

[2017-02-08 23:59] #222 closed

[2017-02-15 10:23] decebal opened #224 "RuntimeError: Attempt to use a broker name reserved by Graph. Could use a different name, or set the 'no_graph_broker' attribute to True for this element class."
This error is so confusing, more so it's not consistent.
There are times when my ogm just works without modifying anything, but there are times when it fails with this generic error, which to me it means somehow it failed to set the `registry_plural` rather than using a reserved broker name. In the case it is a reserved broker name used, which one would that be ?

My Traceback:
[code]

Here is a N

[2017-02-15 10:29] decebal commented on #63
+1

[2017-02-16 02:13] howardyan93 opened #225 "connection refuse"
I following the md. and got the socket error:
[code]

and the shell tell me:
`PyOrientConnectionException: Socket Error: [Errno 111] Connection refused`

should I create a admin account and try again?
the orient version is 2.2.16

[2017-02-16 16:13] decebal commented on #224
oh dear, so clearing the registry would prevent this error, embarrassing.
the unit tests are conclusive enough.
`graph.clear_registry()` before including everything else, solved my problem.

[2017-02-16 16:13] #224 closed

[2017-03-06 09:24] anber500 commented on #225
Sorry for the late reply.
You could try this:

        client = pyorient.OrientDB('localhost', 2424)
        client.connect('root', 'xxxxxx')

        # The storage type is important
        db = client.db_create('yourDB', pyorient.DB_TYPE_GRAPH,
                                     pyorient.STORAGE_TYPE_PLOCAL)

        client.db_open(
            'yourDB', 'root', 'xxxxxx', pyorient.DB_TYPE_GRAP

[2017-03-06 09:56] howardyan93 commented on #225
it  works, Thank you for your reply

[2017-03-20 13:51] marigonda commented on #215
We have experienced exactly this same problem here...
Installing pyorient_native as you have instructed worked fine (thanks!) but only in the linux environment (in our development environment, windows systems, pip wasn't able to install it cause of a broken dependency, stdc++.lib).
Hope to have this patch merged into the main pyorient branch soon!
Regards
Joao

[2017-03-20 23:54] anber500 commented on #215
@marigonda I think the branches have been merged. We honestly haven't run into this issue because we deploy via dockers. I looks like stdc++.lib is a mingw dependency. Have you tried manually adding the lib to your environment?

[2017-03-21 15:23] decebal opened #228 "Set Default for DateTime as current timestamp"
I am not sure this is a fault or just my limited understanding of it.

Here is an example of an edge definition:
[code]

they all seemed to work right, but the function `now` is evaluated just once, when the types are seeded to orient DB and the default remains set as that. Are there any ways to solve this within the ogm ?

I was looking for something similar to [bulbs'](https://github.com/espeed/

[2017-03-21 15:51] decebal commented on #228
Similar to the Uuid property I have tweaked my function to look like this:

[code]

but it has the disadvantage of not being able to set a timezone. If that's a solution I would like to add it to the library in a pull-request as well.

[2017-03-22 19:58] marigonda commented on #215
Thanks for your reply. I will stay in debt with you about the answer regarding the stdc++.lib on windows ... btw, our option would be for the linux environment anyway....
About the merge, pip3.5 on CentOS7 (Python 3.5 from IUS Repository) did not install the native version with binary deserialization support, I had to do it manually, as you have instructed earlier (thanks again).
Now things are st

[2017-03-23 20:52] nikulukani commented on #215
You can use the OGM with binary deserialization if you are using the develop branch of pyorient and have pyorient_native installed

`from pyorient.ogm import Graph, Config
from pyorient.serializations import OrientSerialization
graph = Graph(Config.from_url('my_db','root', 'root', initial_drop=False,
                                     serialization_type=OrientSerialization.Binary))
`

[2017-03-30 12:15] decebal opened #229 "Any plans to merge development into master (or release) soon ?"
development contains a fix on using the binary serializer for distributed database which is not implemented on master #215 #218  would be fixed as well, I think .

[2017-04-01 05:40] Bernardrouhi opened #230 "I'm getting different rid"
when I'm running this command I get the correct rid

[code]

but then I want to get the filtered property the rid doesn't seem right

[code]

the rid is **negative**!!, am i doing something wrong? or is this a bug?

[2017-04-01 06:15] HuangKBAaron opened #231 "command of OrientDb class can't add to transaction"
record_create, record_update and record_delete can be added to TxCommitMessage, but command can't be added to it. It causes the EDGE record creation doesn't be invoked in a transaction.

[2017-04-02 14:27] Bernardrouhi opened #232 "timestamp out of range for platform localtime() but still submitted to the database!"
when I try to add a record to Book V class by using this:
`client.command("INSERT INTO Books set name='Candide2', published_date='1700-1-1'")`

I get `ValueError: timestamp out of range for platform localtime() function` but yet it is still submitted to the database!
and when I try to query from rid by using
`print client.command("SELECT FROM Books WHERE @rid = #43:0")[0].__dict__['_OrientRecord__

[2017-04-05 11:25] spivachuk opened #233 "Sockets leak"
A socket opened in `OrientSocket.__init__` method is replaced for nothing with a new one in `OrientSocket.connect` method. So the socket opened in `OrientSocket.__init__` is wasted and remains unclosed.
Moreover, in `OrientDB` class there is no way to close underlying `OrientSocket` (it is only closed in case of some error).

[2017-04-05 13:35] spivachuk commented on #233
Created the fix for this issue:
https://github.com/mogui/pyorient/pull/234

[2017-04-07 00:36] anber500 commented on #230
It's because you are not requesting for an rid and that is why you get the negative number. If you want the rid returned, then rather do this:

    client.command("SELECT @rid,username,password FROM User WHERE @rid = #25:0")[0]

Try to avoid using "where" when accessing the rid. It's because rid's are not indexed. It's faster and more efficient to access the rid directly like so:

    client.comma

[2017-04-07 00:51] anber500 commented on #232
What if you try the following?

    client.command("INSERT INTO Books set name='Candide3', published_date=DATE('1700-01-01 02:00:00')")

Notice the "DATE" parameter encapsulating the date string. Your error should disappear.

As far as returning a string instead of a date, I'm not sure that is a good idea. It's far simpler to convert a date to a string than to a meaningful python object. Especiall

[2017-04-07 01:09] anber500 commented on #233
I'm excited by this fix. This could potentially fix all my OrientDB issues. I'm using pyorient with celery and rabbitmq. We could not run celery with more than 1 worker because for some reason OrientDB would go ape-shit if we did and start locking the records and not release them. I initially suspected celery was not closing the connections and flooding OrientDB's connection pool.

We found that i

[2017-04-07 14:25] spivachuk commented on #233
@anber500, the PR #234 eliminates the redundant double connection which leaded to sockets leak. Also `close` method is added to `OrientDB` class. It should be called when the `OrientDB` class instance is not needed anymore in order to close the underlying socket.

[2017-04-07 14:30] spivachuk commented on #233
Create a PR with the same fix as in #234 but for `master` branch:
#235

[2017-04-07 16:17] Bernardrouhi commented on #230
Thank you for the reply and tips, yeah, I see your point, but is it useful to have a negative rid? and where can it be useful?

[2017-04-07 16:51] Bernardrouhi commented on #232
Yeah, that did work out, thanks for the solution, that should be mention in a documentation.

well, since I send it as a string I expect it to return back as a string too, but now I'm thinking about it, you are right, having a meaningful type make the workflow easier, but again it would be good to have documentation about it, so we understand how we should and should not use them, otherwise with s

[2017-04-10 04:34] marigonda opened #236 "OGM Queries"
Hello !!!
I'm stuck with OGM, trying to do queries!
Could you please give a few examples?

I have something like:

Node = declarative_node()

class testeJon(Node):
    element_plural = "testeJons"
    attrib1 = String()
    attrib2 = DateTime()

and trying to

query = query.Query ( graph, [ testeJoao1, XXXX ] )

In XXXX I could see that it accepts a few things, an instance of a Property for exampl

[2017-04-10 13:58] HuangKBAaron opened #237 "does pyorient support UPSERT in function "record_create"?"
as the title. It would every complicated solution if it doesn't.

[2017-04-15 21:57] TropicalPenguin commented on #236
Whew, it's been a while. Have needed to rekindle my memory of these interfaces.

I suggest avoiding instantiating Query directly. Usage is a lot simpler through the graph, or what is termed the Node's 'broker' in the graph.

Through the graph:
`query = graph.query(testeJon.attrib1, testeJon.attrib2)`

The resulting Query instance, query, will allow you to see just the two properties attrib1 and at

[2017-04-16 19:41] TropicalPenguin commented on #228
Hi decebal,

Sorry for the late reply. No need for a pull request, it's already there, and you can pass a time-zone.

`from pyorient.ogm.what import sysdate`

which is defined:

[code]

[2017-04-17 13:13] decebal commented on #228
thanks @TropicalPenguin , I was wondering about that `what` module, looks promising , but I am not sure how to begin understanding how I can use it.

[2017-04-17 13:13] #228 closed

[2017-04-24 15:36] spivachuk commented on #233
@TropicalPenguin, when is it planned to merge recent changes from develop to master and release the next version?

[2017-04-24 18:57] TropicalPenguin commented on #233
I'd imagine fairly promptly after the following unit tests are passing again for the develop branch:

[code]
Unfortunately I'm not familiar with the area of the code covered by these. I suspect if anyone is to fix them, it would then be a trivial decision for @mogui to merge to master and do a new release.

[2017-04-24 20:28] Ostico commented on #233
Hi all,
i'm checking for tests failures, these failures could be related with some internal changes in OrientDB and the tests must be changed accordingly.

@anber500 as @spivachuk said this only remove a redundant initialization. Probably you have to close the no more used sockets by yourself.

Tnx @spivachuk for your PR, the close method will be useful.

[2017-04-24 22:02] Ostico commented on #233
The failures

[2017-04-27 20:07] TropicalPenguin opened #238 "Saving Vertices Fails with Read-Only Properties"
See orientechnologies/pyorient/issues/25.

[2017-04-27 20:10] TropicalPenguin opened #239 "Create Abstract Classes via OGM"
See orientechnologies/pyorient/issues/19.

[2017-04-28 16:10] Ostico commented on #229
This week i hope.

2017-04-29/30

[2017-04-28 19:14] TropicalPenguin commented on #239
This latest patch gives two equivalent ways to declare abstract classes via the OGM:

[code]

Then, either:

[code]

or

[code]

They are created as usual given a Graph instance, `g`:

[code]

[2017-04-28 19:30] #239 closed

[2017-04-28 20:27] #238 closed

[2017-04-29 17:16] Ostico commented on #231
Sorry @HuangKBAaron ,

this is not possible by design. In the transaction, the OrientDB binary protocol, only supports CRUD methods.

[2017-04-29 17:16] #231 closed

[2017-04-29 20:34] #206 closed

[2017-04-29 20:38] Ostico commented on #233
Merged

[2017-04-29 20:38] #233 closed

[2017-04-29 20:38] Ostico commented on #229
Merged

[2017-04-29 20:38] #229 closed

[2017-04-29 20:50] Ostico commented on #205
Known issue.

Refer to:
https://github.com/orientechnologies/orientdb/issues/6258
https://github.com/mogui/pyorient/issues/201

[2017-05-05 07:56] TropicalPenguin commented on #237
Can't speak to record_create, but 9177b67b17d68da3cc11c0ec9ad8cc70b6ee0198 adds an interface to it to the OGM :)

[2017-05-22 14:45] decebal opened #241 "broker `query` is working anymore for attribute base filtering"
Something like this, where memories would be the broker does not work anymore ...
`self.graph().memories.query(uuid=memory.get('uuid')).one()`

TypeError: query() got an unexpected keyword argument 'uuid'

is this likely to be fixed or would the switch to query_command make sense in the future ?

[2017-05-22 17:08] TropicalPenguin commented on #241
The _command functions are only used by batches to generate SQL strings... I should probably add comments that they're not meant to be used directly. That, and, if query isn't working, query_command should not work either.

That said, it seems downright bizarre how this would be failing but the test case OGMDateTimeTestCase would be succeeding. I also have code which depends on this, so...

Can yo

[2017-05-24 13:40] decebal commented on #241
Hmm, interesting, just reverted my dependency to development branch and the query on Broker has double stars again, when I submitted this it didn't use to.

[2017-05-24 13:40] #241 closed

[2017-05-25 19:44] TropicalPenguin opened #242 "Is OrientRecordLink.get_hash intentionally returning double-hashes?"
I don't know if this an artifact of newer OrientDB releases, but at least for 2.2.18 get_hash is returning a string with two leading '#'s.

Is this intentional? Or could some sanitising be done so that the string returned by `__str__()` can be used in queries?

To reproduce:
[code]

[2017-05-26 07:31] TropicalPenguin opened #243 "Mysterious Null Record"
Hi,

For some reason, querying the $stack context variable of a TRAVERSE triggers a PyOrientNullRecordException, even as running the same command inside OrientDB studio returns lists of strings.

I can reproduce this by changing line 1060 of tests/test_ogm.py (`develop` branch) to:

`traversals_query = g.query(traversal).what(QV.stack()).filter(QV.depth() > 0)`

[2017-06-04 20:44] yyz1989 opened #244 "argument of type 'OrientRecordLink' is not iterable"
Hey fellas,

I am having a problem with OGM and cannot figure it out by myself. I hope I can get some suggestions from you guys.

I created a "plocal" document database and executed the following SQL query:

[code]

Then I setup the registry according to the documentation:

[code]

And got exceptions when creating mappings from database:

[code]

What can I do here? I also tried to created that pr

[2017-06-05 03:13] TropicalPenguin commented on #244
Hi Yang,

Try this fix; it looks like properties created with constraints (all Base properties except date_modified) are being given record-ids and therefore being treated as links when retrieved. This commit expands such links.

A.

[2017-06-08 17:40] golfarelli opened #245 "Select Link fields in OGM queries"
Refered to: orientechnologies/pyorient#26
@TropicalPenguin

Hi, I'm still learning the driver and testing ogm queries before starting to use it in my application.
I've created some Node classes and now I would select some properties through Link field.

This is my code
[code]
But the result is
[code]

How can I select the link fields ?
Is there any documentation on ogm queries ?

Thanks in advance

[2017-06-09 10:30] TropicalPenguin commented on #245
Hi @golfarelli, it looks like you've got the right idea. On queries themselves, unfortunately the docs are pretty sparse.

Sorry your first encounter ran into that problem with Link properties. this latest commit should fix a number of limitations I came across while investigating your findings. That query should now work. Your code also drew my attention to graph lacking a more direct means of cl

[2017-06-09 10:37] Ostico commented on #243
Hi @TropicalPenguin ,

i will check the internals of the driver as soon as possible.
Are you using Binary or CSV serialization?
Can you send me some data/schema on wich i can run the query and reproduce the issue?

Thank you in advance.

[2017-06-09 11:00] TropicalPenguin commented on #243
This is with CSV serialization.

Can trigger it pretty directly by adding:

[code]
towards the end of OGMTestTraversals.testTraversals()

[2017-06-09 15:42] golfarelli commented on #245
Great! Now the query works correctly!
Thanks @TropicalPenguin  for the fix

[2017-06-09 15:42] #245 closed

[2017-06-16 19:39] yyz1989 commented on #244
@TropicalPenguin Thanks a lot, the fix works!

I got another different question now, but I am not sure if this is the proper place to ask.

I created a class for user groups and a class for users.
[code]

Then I got
[code]

I can understand that there is circular reference. But I think it is a typical use case, right? A user can belong to some user group, and a group contains some user. It might b

[2017-06-16 22:07] TropicalPenguin commented on #244
I thought this should work too, so 0744b37486b612c22e0e75c76c738f0f28b3376a seems to fix it, which I tested with the following:

[code]

Embedded circular dependencies sound inherently suspect, but OrientDB doesn't seem bothered by them.

As for OGM & a document model, I haven't yet worked with OrientDB as a document database, but as far as I can tell, the only difference between a graph schema an

[2017-06-17 18:44] yyz1989 commented on #244
Awesome, thanks a lot for the help!

[2017-06-17 18:44] #244 closed

[2017-06-17 19:02] yyz1989 opened #246 "how to use fetch plan properly?"
Hi all,

I am trying to use fetch plan to retrieve linked objects in one go, but I cannot make it work properly.

The sample data is created with the following sql queries.
[code]

Then I try to retrieve user information with
[code]
and
[code]

However in both cases I get similar exceptions as follows:

[code]

[code]

Did I make any mistake in calling the methods? Any suggestion will be helpful.

[2017-06-20 19:33] TropicalPenguin commented on #246
I hadn't looked into this before, but I was running in to similar problems. After a little investigating, it turns out that when providing a fetch plan, a callback function is required as a parameter to `client.query` or `client.command`

[2017-06-21 12:15] zeeshan2709 opened #247 "can't use db_drop after db_open"
@TropicalPenguin

can be reproduced in the following way:

`import pyorient`
`client = pyorient.OrientDB("localhost", 2424)`
`client.db_open('test', 'root', 'rootpwd')`
`client.db_drop('test')`

[code]

am i doing something wrong?

[2017-06-21 13:16] Ostico commented on #247
Hi @zeeshan2709 ,

you can't drop a database after you opened it OrientDB do not permit that.

See the tests for the correct sequence:
https://github.com/mogui/pyorient/blob/master/tests/test_new_Iface.py#L55

[2017-06-21 13:16] #247 closed

[2017-06-22 20:07] yyz1989 commented on #246
@TropicalPenguin Thanks for the hint. But what should this callback function do?

[2017-06-22 20:36] TropicalPenguin commented on #246
Each call to the callback receives a record fetched according to the fetch plan; it can do with that record whatever you want.

In the OGM, I found this behaviour meaningful: e6a401540a23e6b360710020a140de5a7d50eba7. See, in particular, create_cache_callback

[2017-06-22 21:32] yyz1989 commented on #246
Thanks. I see, I was expecting to have a nested structure of OrientRecord. By using print as callback, I can see that links are actually fetched properly. But how should I develop a callback function to get the links also in the return value? It is also not clear to me about how to build the correspondences between fetched objects and the links when there are more than one link...

[code]

[2017-06-23 10:15] TropicalPenguin commented on #246
Fortunately not. This way is much simpler as the serialisation of objects doesn't vary with how they're fetched.

Hopefully this script clarifies things:
[code]

Which gave me the following output. All links expanded.
[code]

[2017-06-24 00:45] TropicalPenguin commented on #246
Here's an example of how to achieve that kind of nested structure you were expecting: fd6d05b1cdd2411f19b347eda8c441c777085bc1

[2017-06-30 23:05] #246 closed

[2017-07-06 21:23] nikulukani commented on #242
This is happening due to https://github.com/mogui/pyorient/blob/develop/pyorient/messages/base.py#L388

The _decode_field function prepends a "#" when called with FIELD_TYPE_LINK, which happens when the only thing returned from a command is an rid.

This is then used to initialize OrientRecordLink which expects a string representing rid without the preceding "#".

As the only place _decode_field i

[2017-07-07 11:36] TropicalPenguin commented on #242
Done, thanks!

[2017-07-07 11:36] #242 closed

[2017-07-08 10:21] TropicalPenguin commented on #176
There are two issues here:
1. Round-trip of Python date(time) objects
2. String-encoded date(time)s

The CSV serializer can handle round-trips of date(time) objects, so long as encode and decode assume the same time zone. Whether this timezone is local or UTC doesn't matter, no matter what the server timezone is.

pyorient_native wasn't handling round-trips (https://github.com/nikulukani/pyorient_

[2017-07-08 19:48] nikulukani commented on #176
The CSV serializer seems to fail with the roundtrip encoding of dates (atleast with OrientDB 2.2.5). I will write a script that tests both roundtrip (with possibly different timezones)  and string encoded dates to get a better idea of the behavior.

[2017-07-09 00:45] nikulukani commented on #176
It seems using the using UTC for serializing/deserializing seems to work for all scenarios. Check the output https://goo.gl/c1LuzG generated by the script https://goo.gl/ViLtk8

The script was ran against pyorient and pyorient_native develop branches. The OrientDB server had a UTC+4 timezone setting.

[2017-07-09 01:03] TropicalPenguin commented on #176
@nikulukani `datetime.date.today()` is not sufficient for testing round trips, since it doesn't include time.

[2017-07-09 01:31] nikulukani commented on #176
I am just testing the encoding and decoding of dates with that script. Datetimes are considered a different data type by OrientDB and they are handled correctly by both CSV and Binary serializers, in my opinion.

[2017-07-09 03:05] nikulukani commented on #176
Just went through some code on the OrientDB side to see how they handle dates and realized that the serialization/deserialization behavior for Binary and CSV is different on the server side. The server behavior for date objects when using binary serialization essentially resolves this issue  (lines 426, 717 and 998-1012 from
https://github.com/orientechnologies/orientdb/blob/2.2.x/core/src/main/ja

[2017-07-11 10:17] decebal opened #250 "ogm broker hangs on creating vertexes in a distributed environment"
Unfortunately, I don't really know where to look for more information on this, running on my local environment hangs after the create command is executed.

`
Request :
00000000: 29 00 00 00 08 73 00 00  00 8D 00 00 00 31 63 6F  )....s.......1co
00000010: 6D 2E 6F 72 69 65 6E 74  65 63 68 6E 6F 6C 6F 67  m.orientechnolog
00000020: 69 65 73 2E 6F 72 69 65  6E 74 2E 63 6F 72 65 2E  ies.orient.core.
0

[2017-07-11 10:31] decebal commented on #218
@vguhesan sorry bud, any reason for not closing this issue yet ?

[2017-07-11 10:34] TropicalPenguin commented on #250
Especially having never run distributed before, I'm at a loss for how to help without some guidance on how to reproduce this.

[2017-07-11 10:43] decebal commented on #250
Short update, realised the other vertex "create" commands are ran through a `batch`, I'll try that for myself.

@TropicalPenguin easiest thing to have orientdb running in distributed mode is to have dserver.sh as your entrypoint ($ORIENTDB_HOME/bin next to server.sh) or just add the "-Ddistributed=true" added to `server.sh` execution.

You can run just one server in distributed mode, it's not valu

[2017-07-13 09:00] decebal opened #251 "ogm hangs on updating vertexes in a distributed environment"
[code]

Versions:

pyorient==1.5.5
pyorient_native==1.1.1
orientdb community edition 2.2.22

Tip on swapping to distributed mode:

have dserver.sh as your entrypoint ($ORIENTDB_HOME/bin next to server.sh) or just have the "-Ddistributed=true" flag added to server.sh execution.

[2017-07-13 09:20] TropicalPenguin commented on #251
I tried using the unit tests to see if they would reproduce any similar problems, but barely any run at all (and for seemingly more basic reasons than what happens for you)... so a minimal script which causes this particular problem would be a massive help.

[2017-07-13 09:41] decebal commented on #251
[code]

[2017-07-13 09:51] decebal commented on #250
[code]

[2017-07-16 07:04] TropicalPenguin commented on #250
@decebal After making that ugly little tweak to REQUEST_PUSH_DISTRIB_CONFIG payload handling, and upgrading to 2.2.23, I had more luck. Perhaps that will help you too.

I suspect both issues share a related cause.

[2017-07-22 06:23] TropicalPenguin commented on #250
Hi @decebal, can this and #251 be closed?

[2017-07-23 11:02] rrmerugu commented on #5
Strange !! So, currently orientdb doesn't support SSL connection ?

[2017-07-24 10:04] TropicalPenguin commented on #5
OrientDB does. From looking at commits to OrientJS, it looks like it would be fairly straitforward to add to pyorient.

[2017-07-26 04:46] zeeshan2709 commented on #90
hey @Ostico

When do you think will this be done. I am also facing same kind of issue.

[2017-07-26 05:12] TropicalPenguin commented on #90
Hi @zeeshan2709,

https://github.com/mogui/pyorient/commit/3e96590d9ecd87b9643888587185aaac21747dad

[2017-07-26 05:24] zeeshan2709 commented on #90
hi @TropicalPenguin
Thanks. Looks good to me.
Tentative release date?

[2017-07-27 10:36] TropicalPenguin commented on #148
Yo, in some recent develop branch commits, I've added various container methods to OrientRecord.

Left out the various ordering operations suggested across python 2/3 ... not convinced there's meaningful ordering for records.

[2017-07-27 10:47] decebal commented on #250
hi @TropicalPenguin , I was on holiday until today, plan to test this today or tomorrow at most ..

do you not feel that this should stay open for a long term solution though ?

[2017-07-27 10:47] TropicalPenguin commented on #5
In [this commit](https://github.com/mogui/pyorient/commit/78eb270aea0159bcc673c7beb5e129a602f1d858), I've added the means with classes OrientDB and OrientSocket for setting up SSL connections.

I'd appreciate some help adding tests of these.

[2017-07-27 10:53] TropicalPenguin commented on #250
I'd be surprised if made further improvements any more likely than the comments in https://github.com/mogui/pyorient/commit/b1cda333df92e47ce7a3a094ee141c42e5b87f3b, but I guess it can't hurt.

[2017-07-28 11:52] decebal commented on #250
hi @TropicalPenguin , just tried in production, unfortunately there are no positive changes, still running an infinite loop.

[2017-08-05 14:58] HuangKBAaron opened #252 "string format error when convert OrientRecordLink object to str."
if the query return an OrientRecordLink object instance, like:
res = client.command(select from V)
print(str(res[0])) # output "##32:3"
print(res[0].get()) # output "#32:3"

[2017-08-05 21:12] TropicalPenguin commented on #252
Should be fixed in `develop` branch.

[2017-08-08 22:21] obi1kenobi opened #253 "Invalid queries generated with `filter` functionality in v1.5.5"
With pyorient version 1.5.5,
[code]
causes a syntactically invalid query to be generated and sent to the database:
[code]

Note the absence of quotes around `dog` in the generated query. This happens because the `filter_string` method in `query.py`, called by `build_wheres` in the same file, does not seem to encode values correctly. Note how `build_wheres` uses the `PropertyEncoder` to encode valu

[2017-08-09 06:46] TropicalPenguin commented on #253
Thanks @obi1kenobi. I notice this is resolved in the `develop` branch.

@Ostico  I think we're reaching a point where releasing 1.5.6 makes sense (after making a decision about https://github.com/mogui/pyorient/pull/249, since it affects the same interface as the recent SSL support changes)

1.5.6 will contain quite an impressive set of improvements:

**General Improvements**
---------------------

[2017-08-09 18:23] obi1kenobi commented on #253
Thanks for the update! It seems that 1.5.6 has made a breaking change with how the database schema is represented, and I keep getting errors like:
[code]

In this case, `cls` is a relationship class corresponding to an edge type in the database. I'm not really sure how to use `ChainableWhat` or how to get the type of vertex the edge is linked to. I'd appreciate any pointers in the right direction.

[2017-08-10 07:47] TropicalPenguin commented on #253
I see. in_ and out were added as members of pyorient.ogm.edge.Edge, to enable building queries against the values of properties on an edge's in-vertex and out-vertex. I think this was a reasonable design choice but I'm all ears to the contrary.

This would have the effect of shadowing schema properties accessible through it's pyorient.ogm.element.GraphElement base.

I presume these particular sche

[2017-08-10 08:01] TropicalPenguin commented on #253
Hm...maybe those members could be removed from the instance object.

[2017-08-12 11:10] TropicalPenguin commented on #253
Hi @obi1kenobi I took a look and I'm not totally clear how you're getting that problem. If there is a schema property with that name, it shouldn't be shadowed by the Edge members. I'd expect it to work the other way 'round.

Do you have a small example script to demonstrate?

[2017-08-17 06:25] shangguan2017 opened #254 "Question about query results"
The pyorient.otypes.OrientBinaryObject object contains after each query returns a dictionary, how to parse it.

[2017-08-17 09:58] TropicalPenguin commented on #254
I'm not quite clear to which dictionary you're referring, but for OrientBinaryObject, take a look at `test_csv_decoding()` in `tests/test_serializations.py` in the `develop` branch.

[2017-10-04 07:30] jbrow70 opened #256 "Pooling Implemented in Pyorientdb OMG/Client"
Hi,

Can someone confirm or deny that pyotieent OGM  and/or the base client have the ability to do connection looking? I see relations in link to implement pooling with OrientDB but I don't think this is in pyorient client either. I've searched the source code of pyorient client and OGM and found no pooling anywhere in the code. I also see some threads on folks trying to do concurrency: 2 links. O

[2017-10-04 07:32] #256 closed

[2017-10-04 07:44] jbrow70 opened #257 "Pooling Implemented in Pyorientdb OMG/Client?"
Hi,

Can someone confirm or deny that pyorient OGM and/or the base client have the ability to do connection pooling? It doesn't appear so. I see relations in https://orientdb.com/docs/2.2/Graph-Factory.html that implements pooling with OrientDB but I don't think this is in pyorient client either. I've searched the source code of pyorient client and OGM and found no pooling anywhere in the code. I

[2017-10-06 15:06] decebal commented on #251
Update:

by adding this line:

`print(exception_class, exception_message)`
in pyorient/messages/base.py line 176, _decode_header function, I was able to identify the following logs:

[code]

Minor update: I need to make a correction on the orientdb version used as well, although it might apply for 2.2.22 as well, the version throwing this exception is 2.2.15.

 I tried to run the tests you have se

[2017-10-07 04:03] jbrow70 commented on #257
Hi,

If someone could confirm the capabilities of the python driver (pyorient) currently with pooling and concurrency that would be great!

We're thinking of using orientdb with an application/web service that will take concurrent requests. We're wondering if sharing one connection is scalable. Will it be able to handle multiple queries at a time or would it be serial.

The GraphFactory I mentione

[2017-10-08 16:48] Ostico commented on #257
Hi @jbrow70 ,
please refer to this thread:

https://github.com/mogui/pyorient/issues/145

[2017-10-08 21:11] jbrow70 commented on #257
Hi @Ostico,

Thanks for referring to that thread again. I took a look at it one more time. I think pooling would be required in our use case but all of our parallel queries would be on same database. So with that said, here's what you said in that thread:

"Otherwise you can create a pool of clients, one for database on which the client must operate and switch over them programmatically."

We'd li

[2017-10-09 08:47] Ostico commented on #257
Hi @jbrow70 ,

a client by design is not thought to have a pooling embedded in my opinion, it's better to have a library than provide such functionality, something like apache https://github.com/apache/commons-dbcp

There is another discussion for that:
https://github.com/mogui/pyorient/issues/51

I hope this can be useful.

[2017-10-09 15:10] jbrow70 commented on #257
Hi @Ostico,

Eventlit looks interesting, on thread #51. Will take a look... #64 has some good information too. Thanks! I do agree that a library should manage a pool of connections. However, I see many drivers/clients/etc. include pooling option, especially for an enterprise ready driver. Even the Java orientdb libraries include a pool, Graph-Factory. We were hoping pyorient had something similar,

[2017-10-11 15:11] decebal commented on #250
Alright, So I managed to reproduce the bug in it's entirety and solved it on the server side for my setup.

Extra Step needed to replicate:
 - run a distributed config with `"writeQuorum": "majority"`

On orientdb 2.2.15 this would fail only on updates with "ODatabaseExceptionQuorum" exception which is not caught by the broker.

[2017-10-11 15:14] decebal commented on #250
Closing this as #251 should be the same.

[2017-10-11 15:14] #250 closed

[2017-10-11 15:14] decebal commented on #251
Alright, So I managed to reproduce the bug in it's entirety and solved it on the server side for my setup.

Extra Step needed to replicate:
 - run a distributed config with `"writeQuorum": "majority"`

On orientdb 2.2.15 this would fail only on updates with "ODatabaseExceptionQuorum" exception which is not caught by the broker.

[2017-10-23 10:17] decebal opened #258 "ODistributedRecordLockedException or ONeedRetryException not dealt with"
Hi guys,

I am running a distributed cluster with 2 nodes on orientdb: 2.2.29 , but I am met with the exception mentioned in the title: `ODistributedRecordLockedException`

The guys at orientdb propose it's dealt with something like this:
https://github.com/orientechnologies/orientdb/issues/5012#issuecomment-312335527

Is there any ongoing investigation to do with this issue on implementation ?

R

[2017-10-23 11:01] Ostico commented on #258
HI @decebal ,
the first thing to do is to instruct the method you called that the server is running as distributed environment.

Please provide more info on what you done

[2017-10-23 16:07] decebal commented on #258
I can see it's already re-trying, that was the only problem I thought I am reporting, but it's already doing it. Must be a configuration issue then.

[2017-10-23 16:07] #258 closed

[2017-10-30 15:48] decebal opened #259 "OGM 'remote' mode connection"
I am trying to determine if my pyorient graph connection is using remote or if it is possible for it to use 'remote' mode when connecting to my db clusters.

I need this bit of information in order to determine the cause of a bug similar to this:

https://orientdb.com/docs/2.2/Troubleshooting.html#comorientechnologiescommonconcurlockolockexception-file-tmpdatabasesdemodefault0oda-is-locked-by-anot

[2017-11-03 18:39] karel-un opened #260 "pyorient_native: unable to access fields in temporary record"
Using pyorient_native 1.2.3 and pyorient 1.5.5 when result of query is not actual record in database, but temporary record, fields in this record can not be accesses by dotted syntax. For example:

res = client.query(SELECT *, @rid, in('EQOSChild').@rid AS parentrid ...

print(res[0].rid, res[0].parentrid)

when using native driver output is:

('OrientRecordLink', 42, 1) ('OrientRecordLink', 35, 0

[2017-11-23 11:14] karel-un commented on #191
Native binary serialization protocol is here:
https://pypkg.com/pypi/pyorient-native/
Sorry for being late to close issue.

[2017-11-23 11:14] #191 closed

[2017-11-23 11:23] karel-un commented on #260
Reported fixed in develop branch of pyorient, will be in next release (1.5.5+).

[2017-11-23 11:23] #260 closed

[2018-01-08 17:09] k-sok opened #261 "OGM batch performance problems due to string concatenation"
The resulting batch script is built by using string concatenation.

[code]
The larger the entire script is (i.e. the commands string) the longer takes each concatenation operation (because of the underlying memory reallocation and copying).

A better approach is to use a list of strings and join it when committing.

[code]

By implementing the above solution, I was able to improve the performance

[2018-01-08 19:17] TropicalPenguin commented on #261
Yo,

The develop branch already uses the list strategy :)

On Tue, Jan 9, 2018 at 6:09 AM, k-sok <notifications@github.com> wrote:

[2018-01-08 19:52] k-sok commented on #261
Yes, just saw it after forking. I wonder how are the chances that this stack design will survive to the next version. I have to subclass `Batch` and have to decide what to rely on...

[2018-01-15 11:58] grahamjamesaddis opened #262 "OGM: NULL fields not queried correctly"
The query.py:build_wheres() function should use 'is', not '=', as an operator when the value passed is 'None'

In order to correct this issue I would do the following:

- Extend property.py:PropertyEncoder with an 'encode_operator()' method e.g.:
[code]
- Modify build_wheres() to include the call to 'encode_operator()' e.g.:
[code]

The following code snippet demonstrates the issue on the followin

[2018-01-31 07:29] acriptis opened #265 "Is it possible to read dynamic attributes with OGM?"
I have a database with a lot of Classes. The classes are created with "weak" schema (objects of classes actually have attributes that are not defined in schema in OrientDB).

For example, I have a class UBERON which specifies `id` property, but the most of nodes of the class have `name` and `definition` attributes as well. These attributes are not defined in schema.

So when I do:
[code]
I got out

[2018-01-31 08:45] rrmerugu opened #266 "what is the correct way to write get_or_create_edge"
I wrote get_or_create_vertex and it works fine (at least I can see the data correctly)

[code]

But I could nt figure out a way to do get_or_create_edge. Using`edge.create(_from, _to)`  directly is creating duplications every time I run the script to update the data from mongo to orientdb(selected data only). But this fails any.. how do I implement orientdb_relation_create_edge ?
[code]

[2018-02-02 08:24] acriptis commented on #266
This code quite dirty, but it works well for me (I use it as base class for all Edge classes in OGM):
[code]

[2018-03-27 09:20] oliveriandrea opened #269 "errors with db_exists() and db_list()"
`import pyorient`
`client = pyorient.OrientDB('localhost', 2424)`
`client.db_exist('test')`

returns an utf8 parsing error
while db_list() seems to be stuck...

[2018-05-03 13:15] PetrovskYYY commented on #265
Also interested in this feature.

[2018-05-13 20:29] rrmerugu opened #270 "pyorient not working with orientdb 3.0.0"
When i try to establish a connection to the db from pyorient, the below error is showing up. im using pyorient==1.5.5, is it possible its not compatible with orientdb 3.0.0. Any plans to support pyorient for orientdb 3.0.0 version soon ?

PS: This is the version of the orientdb i'm using https://orientdb.com/download.php?file=orientdb-community-gremlin-3.0.0.tar.gz

[2018-05-28 06:07] SubhashKaviya commented on #270
can you share your code please?

[2018-06-04 19:09] marcoaleixo opened #271 "Performance PyOrient x Console"
Hello,
 when I run directly on ./console.sh a query, this one actually is taking

And when I run using pyorient with that config:

[code]

the exactly same query takes almost 4.60731482506 seconds.
Am I  missing something?
Thank you.

[2018-06-05 09:09] Ostico commented on #271
Hi @marcoaleixo ,

console.sh is a bash wrapper of the OrientDB Java client, by definition pyorient is slowest. I think it is normal.

[2018-06-05 12:17] marcoaleixo commented on #271
Hi @Ostico
And do you know any way to increase that, like using another way to connect to Orientdb using python?

[2018-06-05 15:17] Ostico commented on #271
You can try with pyorient_native as decoder. and binary serialization.

[2018-06-05 15:20] XhrCkYsSgZokJL commented on #270
pyorient.OrientDB('localhost', 2424)
session_id = self.client.connect('user', 'password')

pyorient.exceptions.PyOrientWrongProtocolVersionException: Protocol version 37 is not supported yet by this client.

pyorient 1.5.5
orientdb 3.0.0

[2018-06-05 17:28] marcoaleixo commented on #271
Thank you @Ostico , I think this isn't a issue anymore.
Do you think is a good ideia post the benchmark here or does not matter actually!?
Thank you for the support!

[2018-06-06 09:01] Ostico commented on #271
Why not, every contribution is well accepted.

[2018-06-07 11:30] alberto-exabel commented on #270
Same problem here.
pyorient 1.5.5
orientdb 3.0.2

[2018-06-11 07:39] lscheinman77SAP opened #272 "Protocol version 37 is not supported yet by this client."
Followed instructions as written but receive the following error on Windows when executing

pyorient.exceptions.PyOrientWrongProtocolVersionException: Protocol version 37 is not supported yet by this client.

[2018-06-11 10:27] #272 closed

[2018-06-11 10:27] lscheinman77SAP commented on #270
Same issue.

[2018-06-12 15:56] vinitshetty commented on #270
+1

[2018-06-12 15:58] vinitshetty commented on #270
i am using 3.0.2 and pyorient 1.5.5

[2018-06-22 10:54] dersmon commented on #270
Same issue using the current Docker image.

I just wanted to try OrientDB and am not sure what a patch would encompass. No matter how complicated that may be, the Repository README states:

As a first measure: Could someone adjust that line, pointing to the last working OrientDB (2.x) version?

[2018-06-22 13:55] Ostico commented on #270
@dersmon good point, since at moment i have not enough time to advance the version at least until august i think, this is the best option.

[2018-06-29 12:21] #271 closed

[2018-07-28 00:59] softwareCobbler commented on #270
I changed `SUPPORTED_PROTOCOL` in `constants.py` from `36` to `37` and it connects...  now, is there going to be a bunch of buggy behavior?...

[2018-08-02 09:38] Ostico commented on #270
Hi @softwareCobbler ,

not tried, not tested and I don't know which issues there could be. Could be useful to know which problems you find as a good starting point to short cut the driver improvement.

[2018-08-02 10:13] cegprakash opened #273 "query() got an unexpected keyword argument"
pyorient==1.5.5

[code]

prints

[code]

[2018-08-02 13:34] cegprakash opened #274 "graph.create_edge object has no attribute '_id'"
I don't like raw queries. So I'm trying to create an edge using

`graph.create_edge(Friend, orientRecord1, orientRecord2)`

But I get AttributeError: 'OrientRecord' object has no attribute '_id'

because orientRecord does not have an _id in it. What am I doing wrong?

[2018-08-06 08:03] cegprakash commented on #274
https://stackoverflow.com/questions/51703088/create-an-edge-in-orientdb-without-using-raw-query

[2018-08-06 08:04] cegprakash commented on #273
https://stackoverflow.com/questions/51703057/pyorient-querying-a-vertex-in-orientdb

[2018-08-12 18:42] tommykennedy opened #275 "Django Pyorient"
I was wondering if there are any example projects that show how to use Pyorient OGM with Django.

[2018-08-13 10:46] tommykennedy commented on #274
Do you have any example project to see how you implemented the OGM with Django?

[2018-08-13 11:40] cegprakash commented on #274
Here are my class structures

[code]

[2018-08-13 11:44] cegprakash commented on #274
Here are my class structures

[code]

Here is a query that I use to fetch orientRecords and trying to create and edge

[code]

[2018-08-14 09:19] tommykennedy commented on #274
Thanks!

Im struggling with the connection settings for orient. How did you set up your settings.py file?

[2018-08-14 21:40] tommykennedy commented on #274
I am new to Django and I was wondering how to set up the connections to the database.

[2018-08-15 17:05] Froskekongen commented on #270
@mogui: Is there any plan to update pyorient to support version 3.x reliably?

[2018-08-20 11:10] cegprakash opened #276 "Load Balancing"
How can I implement a load balancer using pyorient? In the documentation [here](https://orientdb.com/docs/2.2.x/Distributed-Configuration.html#load-balancing) I'm able to find the Java documentation. But I couldn't find a pyorient equivalent.

[2018-08-24 08:34] teichmolch001 opened #277 "Using pyorient with DirectAccess"
I'm using pyorient==1.5.5 and encountered a problem while beeing connected vie DirectAccess to my companys network. Doing:

`client = pyorient.OrientDB(serveradresse, port)`
`session_id = client.connect(user, pswd)`

returned:

Traceback (most recent call last):
  File "C:\xxx\orient.py", line 89, in connect
    self._socket.connect( (self.host, self.port) )
TimeoutError: [WinError 10060] Ein Verb

[2018-09-05 09:29] yuantaixing commented on #273
there is already the answer :https://github.com/mogui/pyorient/issues/236

[2018-09-05 09:35] yuantaixing commented on #259
I have the same problem ,and I just set it to be plocal, and it works.but set it to be remote ,it does not.actual,the server is remote， I do not kown why

[2018-09-05 14:50] pawarchinmay27 commented on #118
@ramtinms I tried your solution instead it gave me an error Protocol version 37 is not supported yet by this client

[2018-09-06 06:07] vipulmathur commented on #53
This is an old issue, but it seems that [OrientJS has support for parameterized queries](http://orientdb.com/docs/last/OrientJS-Query.html#using-parameters). Given that OrientJS uses the binary protocol, I think @Ostico's [assertion above](https://github.com/mogui/pyorient/issues/53#issuecomment-77694710) may not be valid any more.

Can we work this critical feature into `pyorient` now please?

[2018-09-14 16:17] wave-DmP commented on #270
@softwareCobbler  I tried your approach and got the following

[2018-09-20 00:54] TariqAHassan commented on #270
Hi @Ostico

Sorry to ping you directly, but any idea about the status of this issue?

[2018-09-20 07:29] mogui commented on #270
HI Tariq,
We’ve been very busy with our everyday jobs, hopefully they will calm down soon, and we’re look into that soon,
We’ve got some ideas on how to maintain compatibility, hang on :)

[2018-09-27 04:52] montequie commented on #270
Hi Mogui,

Do you guys have any estimations about fixing it?
Or any proper python temporary solution to use mean while?

Thanks!!

[2018-09-27 04:55] TariqAHassan commented on #270
@mogui

I ended up deleted my comment because I found that commenting out the error message (or invoking `warning.warn()` instead raising in my case) will work.

@klkludde @montequie: What I suggested above is not particularly elegant, but it should work as a stopgap measure.

[2018-09-27 05:16] montequie commented on #270
@TariqAHassan

Can you repost your suggestion? can't find it here

[2018-09-27 05:35] montequie commented on #270
@TariqAHassan Thanks a lot!
It worked.

[2018-10-05 07:49] PetrovskYYY commented on #265
@TropicalPenguin, this is not about SQL. If you use SQL directly - you have  access to all fields that are defined in database any you can set any new without any problem. OGM narrows list of fields you are able to define to the ones that are defined in class schema. Even if other fields exist in database you will NOT see them and you will be unable to set any outside of schema. Sometimes it makes

[2018-10-21 10:59] Siddhesh177 commented on #118
@pawarchinmay27 , did you figure out how to connect?

[2018-10-25 11:46] dtanase commented on #270
+1
Any updates?

[2018-11-29 20:14] montequie opened #278 "Randomly fail to create new cluster"
I'm creating new cluster for vertices and edges every X time.
sometimes I get this message:

`pyorient.exceptions.PyOrientCommandException: com.orientechnologies.orient.core.exception.OStorageException - File darknet_200.pcl has already been added to the storage`

any ideas how to fix it?

[2018-12-08 17:48] dustyny commented on #270
+1

Let me add my encouragement to update to 3.x as well.. :)

I'm a new user to OrientDB. I have a project that I'm working on and I'm nervous to build and then have to migrate to 3.x later on.

[2019-01-03 11:06] bioinfornatics opened #279 "Is it a dead project ?"
Dear,
The project got any update since 2017.
Issues open in 2018 have no answer from the maintainer.

so is it a dead project ?

[2019-01-03 11:19] marigonda commented on #279
I'm concerned about this too....

[2019-02-13 10:25] mpomet commented on #279
Unfortunately, it looks like all orientdb drivers (php, node, python, elixir, .net...) are out of date and no actively maintained except java's one.
Latest commit that can be found are about commenting some checks to make it "works" with orientdb 3.

Hope someone will tell I'm wrong because odb is a great project

[2019-02-25 09:05] rohit-mohan opened #280 "PyOrient gives results that differ from OrientDB studio"
<img width="310" alt="capture" src="https://user-images.githubusercontent.com/15796113/53325286-fab1f900-3908-11e9-985c-c73ecabab373.PNG">

I have a graph as shown in the image above.
 When I run the query :

[code]

in OrientDB Studio I get all the vertices. In fact that is how I generated the graph visualization.

But when I run the same using client.query() function as follows,

[code]
 I get o

[2019-04-08 22:05] nikulukani commented on #274
The graph.create_edge command expects objects that are subclasses of vertex, and not raw OrientRecords.

For your code, one way to use create_edge would be along the following lines
[code]

However, I would suggest to modify your code so that you use the OGM exclusively and do no mix low-level queries with the OGM unless absolutely necessary.

[code]

[2019-04-08 22:31] nikulukani commented on #280
try `traverse outE('has_component'), inV() from ...` or simply `traverse out('has_component') from ...` if you are only interested in the Nodes and not the Relationships.

[2019-04-08 22:34] nikulukani commented on #273
Look at the comment https://github.com/mogui/pyorient/issues/274#issuecomment-481025944 for an example of how to use the OGM broker to query.

[2019-04-13 21:18] halversonpeter commented on #269
I am also experiencing this issue. When I run client.db_list() python just hangs. Has there been any progress.

[2019-04-22 21:35] fredmajor commented on #127
How do I query edge properties using this syntax?

[2019-04-23 09:54] fredmajor opened #282 "Query doesn't return expected results"
My query is:
[code]
When I run it in OrientDB Studio, it returns expected results. When I run it with `client.query(my_query_here)` it returns nothing. However when I remove the second condition from the query, the client also returns results. (with the test data I use the second condition is always true, so this makes me believe that's rather a parsing/internal pyorient issue)
Working query:
[cod

[2019-04-26 09:53] thenesk commented on #279
What alternatives are people using?

[2019-05-02 08:02] abeburnett opened #283 "How to write to OrientDB using transactions? (getting "quorum cannot be reached")"
So I've Googled like crazy, and read all the issues here, and all the OrientDB documentation and I cannot for the life of me figure out how to overcome this "quorum" issue.

Here's my code:

[code]

Unforunately the documentation around `record_create` is super unhelpful (not enough detail), so I'm unsure if submitting different parameters would help. I suspect not.

I suspect the issue is that I'

[2019-05-17 08:15] shashwatwork commented on #270
Is there any fix for pyorient with Orientdb 3.0
I got error like **Protocol version 37 is not supported yet by this client**

[2019-06-09 19:02] LegolasVzla opened #284 "What is the correctly way to delete edges with orientdb OGM in django rest framework?"
I was wondering if exists some command like delete_edge(), to delete an specific edge row.

I don't know how to create a method to delete edges in django rest framework, using orientdb OGM.

I'm using pyorient==1.5.5 and OrientDB 3.0.18 version.

I have two vertex Classes: ousers, ocompany. Also I have two relationships (edges) Classes: ofriends, oworksat. So for example:

To make a ofriends relat

[2019-06-09 19:13] TropicalPenguin commented on #284
Huh, you're right!

I'm surprised that functionality was never added.

On Mon, 10 Jun 2019, 07:02 Manuel Carrero <notifications@github.com> wrote:

[2019-06-11 04:09] LegolasVzla commented on #284
Thanks! Is there any plan to add this functionality in a near future?

At the moment, I only could work with raw queries to delete the edge

[2019-06-16 18:36] LegolasVzla commented on #284
At the moment, I solved my problem using pyorient client, with raw query:

pyorient_client.py
[code]

And in the api.py
[code]

Maybe this could be useful for anyone else. Note that I receive o'friends rid as a parameter (by passing the id in DELETE method in swagger UI).

  [1]: https://github.com/mogui/pyorient/blob/master/OGM.md
  [2]: https://github.com/mogui/pyorient/issues/284

[2019-06-16 22:43] LegolasVzla commented on #275
I'm working in a little personal [project](https://github.com/LegolasVzla/django-rest-framework-orientdb-postgresql), with django and pyorient OGM, integrating django rest framework, swagger, postgreSQL and orientdb, with the CRUD basic operations. I hope this will be useful for anyone else.

[2019-06-24 01:14] LegolasVzla opened #285 "How to get the last record in a query?"
I don't know how to get the last record of an edge in django rest framework, using orientdb OGM.

I'm using pyorient==1.5.5 and OrientDB 3.0.18 version.

I have a relationship (edge) called OFriends and this is what I've tried:

[code]
**(Pdb) dir(graph)**
['WhatFunction', 'WhatFunctions', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribu

[2019-08-19 16:07] mn3mos commented on #270
+1

[2019-08-26 08:43] wazirsoft commented on #272
I got this issue as well, not sure why do you have this closed?

[2019-09-17 09:13] upx86 commented on #270
Is there any plan to fix this?

[2019-12-10 10:59] laurendelong21 commented on #270
+1

[2019-12-10 15:05] mpomet commented on #270
If someone needs to use odb3 with python, just use master branch instead of the last release.
`pip install git+https://github.com/orientechnologies/pyorient`

If you just start a new project, I recommend using a more up-to-date dbsm (redisgraph or other).

[2020-01-02 16:36] CafeLungo commented on #270
I'm sorry, but... what the hell is going on here?

Try out orientdb -> use pyorient -> latest, and right off the bat I run into a non-starter because of a constant that hasn't been updated in almost 2 years now? (Along with other changes that haven't been implemented along with that constant bump)

[2020-01-27 13:10] cegprakash commented on #274
Hey,

I just signed the petition "Nitin Gadkari: Ban the honking in India unless
absolutely Necessary !!" and wanted to see if you could help by adding your
name.

Our goal is to reach 100 signatures and we need more support. You can read
more and sign the petition here:

http://chng.it/xxdV9V9CRR

Thanks!
Prakash

[2020-02-25 22:24] nikulukani commented on #285
Try
`graph.ofriends.query().order_by(OFriends.aux_id).limit(1).first().aux_id`

[2020-03-25 16:03] DiarmaidEverycs opened #286 "query_async is not working"
PyOrient Version: 1.5.5
OrientDB version: 2.2.35

I am trying to asynchronously get records from the database, using the get_query_async() function.   I have a very simple example:

`class testGraph():
    def add_to_graphl(self, record):
        print("We succeeded in getting a record")

   def get_from_database(self, client):
        """ client --> database connection returned by pyorient.Orient

[2020-03-26 12:33] Schwarzfisch92 commented on #270
it seems that this problem is back with the new update Orientdb 3.0.30
(I downloaded the latest version 3.0.30 with latest available Pyorient 1.5.5 ) but then it worked when i commented out:
 if self.protocol > SUPPORTED_PROTOCOL:
                raise PyOrientWrongProtocolVersionException(
                    "Protocol version " + str(self.protocol) +
                    " is not supported yet by

[2020-03-29 07:24] jbonfardeci commented on #270
You can fix this by overriding the connect method in OrientSocket:
[code]
then
[code]

[2020-04-22 20:56] styk-tv commented on #270
I love fixes like these. OrientTechnologies just removed the if statement causing the error :)
https://github.com/orientechnologies/pyorient/commit/5bbe000acb0e65d49a3f85bd0ecf9d40ae155467

On the Orient 3+ document page above repo is linked as the repo to be used (just passing on the message) Probably because this bug is not fixed for the past 2 years.

Tested on:
Orientdb 3.0.30
Pyorient 1.5.5

[2020-06-15 05:26] aniketgambhire commented on #270
Hi @rrmerugu. Install pyorient from source as given here [PyOrient Installation](https://orientdb.com/docs/last/PyOrient.html) after this you no longer will face this issue.

[2020-07-21 02:16] shinnayoung commented on #276
I'v got the same problem. Anyone help? I want to connect all server addresses like JAVA API.

[2020-08-31 03:23] haha867 opened #287 "OrientDb Exception Message"
client does not read exception message. orientdb 3.1.1

[2020-08-31 04:00] haha867 opened #288 "I fixed several issues and want to update the source (orient 3.2) and push to Conda Repo ..."
Should I create a new repository?
thx

[2020-10-14 08:12] TensorTom commented on #279
ugh. What a waste of time. Ridiculous considering orientdb is super popular with an enterprise version. This is the reference library. Huge waste of hours I spent setting up just to realize all the queries I just learned are useless because the reference library is useless. It's their loss as I would been referring them an enterprise customer. Idk if they maintain this repo but they promote it and

[2020-11-08 15:32] sow-ibrahima commented on #118
Got the same problem with pyorient 1.5.5 on python 3.7.4. Hope someone could help me please.

[2020-12-16 17:14] sanvir10 commented on #270
Or use **pyorient=1.5.1** with this version this work fine.

[2020-12-16 23:30] sanvir10 opened #290 "Server sent empty string"
I'm using OrientDB Server 3.1.5 and pyorient 1.5.1, but sometimes i get this issue:

```pyorient.exceptions.PyOrientConnectionPoolException: Server sent empty string ```

I'm using python 3(FROM python:3) in Docker in GKE 1.16.15-gke.4300.

For help thanks in advance.

[2020-12-17 15:24] sanvir10 commented on #290
Checking orient logs i see i get this WARNING:

```WARN Reached maximum number of concurrent connections (max=1000, current=1000)```

So i check connections with
[code]
 and i have 999 connections, our team change the code and we add:

[code]

With this orientdb release connections, i hope this help.

[2020-12-22 21:07] #290 closed

[2021-01-05 00:27] imanabu commented on #270
@styk-tv's solution fixes the connection problem (thank you for that), but still there are several more issues that's the driver itself.

## You need to now get a token and then set it, I did the following and got around that,

        token = client.get_session_token()
        client.set_session_token(token)

## But, after that you will still get another exception if you do a Query.

      pyorie

[2021-04-12 17:45] paarth1995 opened #291 "Get list of databases created 30 days ago?"
Hey guys, i am new to using pyorient and trying to get list of databases and that has worked using `client.db_list().` However, i am wondering how can i get list of databases 30 days and older?

This is my code so far :-
[code]

This prints out the list of databases, however how can i get databases created 30 days ago?  Thank you